[2018-07-24 22:23] drewolson opened #21 "wire: share dependency graph across injectors in the same package?"
I was testing out wire and created a package with two injectors[1]. I noticed that each injector individually recreates the dependency graph. Other DI containers I've used (dagger, for example) allow sharing of singleton objects between different "entry points" to the graph.

Is this behavior intentional or is the goal to eventually allow "reusing" a graph across many injectors within a package?

[2018-08-28 18:49] e-nikolov opened #32 "wire: wire.FieldsOf() to inject the values from fields of a struct"
Pretty new to wire, so forgive me if I am asking the wrong questions.

As far as I understand, wire.Value() allows to specify a value to be injected. If I have a struct, the fields of which must be injected rather than the value of the struct itself, would I have to use wire.Value() for each field of the struct?

Would it make sense to add something like wire.FieldValues(), which injects the field

[2018-09-07 21:24] vangent opened #36 "wire, server: revisit use of wire to fill in all fields of an Options struct"
server.go has an [Options struct](https://github.com/google/go-cloud/blob/master/server/server.go#L48) with a bunch of exported fields in it.

Today, our examples use wire to fill it in, e.g.:
https://github.com/google/go-cloud/blob/master/samples/guestbook/inject_aws.go#L38

That function returns a *application, which needs a *server.Server, which needs a *server.Options; *server.Options is initi

[2018-09-07 21:55] ijt opened #37 "wire: error messages not showing enough context in cases of conflict"
While implementing a new server type, I added a set to an existing wire.Set. The new set had a new provider for `server.Server`, redundant with one already provided. When I ran `go generate`, `wire` issued the following error message:

[code]
This error message doesn't pinpoint the cause of the problem, i.e., the location where the first `server.Set` was transitively included. I think it would hel

[2018-09-11 17:06] vangent opened #38 "wire: omit the local package identifier if it matches the package name"
See TODO here:
https://github.com/google/go-cloud/blob/master/wire/internal/wire/wire.go#L175

[2018-09-11 19:24] ijt opened #39 "wire: functions calling wire.Build after assigning a variable are silently erased in output"
This came up in the following situation:
[code]
Running `go generate` here resulted in `wire_gen.go` not containing a `setupGCP` function anymore, because of the assignment to traceOpt.

This assignment was made necessary by Wire's rejection of `wire.Value(withNoTraceOptions())` since it contains a function call and is therefore too complex by Wire's standards. Maybe the error message should sugge

[2018-09-14 19:58] landism opened #40 "wire: types get lowercased to generate var names, which can conflict with keywords"
#### What did you do?
Attempted to use wire to inject an object of type `rest.Interface` (from k8s client-go).
Repro available here https://github.com/landism/go-cloud/tree/landism/keyword_bug/wire/bug
(cd wire and run `wire ./bug`)

#### What did you expect to see?
wire successfully create a file named wire_gen.go that constructs a `Foo`.

#### What did you see instead?
[code]

1. wire generates

[2018-09-17 20:56] vangent opened #41 "wire: consider using defer for cleanup functions"
https://github.com/google/go-cloud/blob/master/samples/guestbook/wire_gen.go

is code generated by wire. It seems to call all of the cleanup() functions manually, e.g.:

[code]

Could we use defer  instead?

[2018-09-20 21:39] vangent opened #42 "wire: add a command to generate a .dot file of the dependency graph"

[2018-09-21 16:25] gracenoah opened #43 "wire: provide an example of mocking"
It's easy to see how one would use wire in the main.go of an executable to wire up everything it needs, but it's not clear to me how one would go about writing tests with wire. This is simlar to https://github.com/google/go-cloud/issues/223, but in the case of tests, it might be necessary to dynamically construct an object with a mock inserted in an arbitrary point in the graph, potentially dynami

[2018-09-27 05:31] oceanful opened #44 "wire: document how to bind interfaces to interfaces"
Although returning interfaces from functions is not idiomatic in Go, it would be nice to support it in Wire.

Example use case:

[code]

Perhaps this is what `wire.InterfaceValue()` is intended for? (I wasn't able to get it to work.)

[2018-09-27 23:42] gracenoah opened #46 "wire: Generated file fails goimports linter"
Wire sorts imports alphabetically [here](https://github.com/google/go-cloud/blob/8163be07c118a1370c0a78386afd0d630f5b032f/wire/internal/wire/wire.go#L180), however this does not always translate into lint-valid imports.

E.g.

[code]

The generated file has the following

[code]

Using [gometalinter](https://github.com/alecthomas/gometalinter) with `{"Enable": ["goimports"]}` you'll see
[code]

Th

[2018-10-04 20:28] vangent opened #47 "wire/tests: Allow wire_errs.txt to match multi-line errors, and to use regexes"
Current the wire tests verify that the whole line from wire_errs.txt is found in one of the actual errors. It doesn't work well for errors that span multiple lines (e.g., the err.String() has \n's in it). In addition, some errors have things like line numbers that are fragile to include, maybe a regex match would be more flexible.

[2018-10-09 14:27] zombiezen opened #48 "wire: create injectors in _test files"
Currently, Wire only considers the non-test files for injectors. To enable creation of test-only injectors, it would be nice to have Wire evaluate test files as well, creating a separate `wire_gen_test.go` file for the generated code evaluated for the tests.

[2018-10-10 06:41] leighmcculloch opened #49 "wire: proposal to separate wire into its own module and own repository"
#### Go version

[code]

#### What did you do?

Add wire as a dependency to a Go project that is using Go modules.

[code]

#### What did you expect to see?

Download only `wire` and it's dependencies, which according to the following command, is only two packages (ignoring dependencies within the Go stdlib):

1. `github.com/google/go-cloud/wire/internal/wire`
2. `golang.org/x/tools/go/types/typeu

[2018-10-10 08:00] rogpeppe opened #50 "wire: improve package documentation"
The [package documentation](https://godoc.org/github.com/google/go-cloud/wire) should definitiively document the semantics of the wire functions. Currently the documentation is pretty thin and relies a lot on the introduction document. For example, the doc comment for Build says "its arguments are the same as NewSet", and although the doc comment for NewSet describes the possible kinds of paramete

[2018-10-10 09:11] rogpeppe opened #51 "wire: tutorial doesn't mention wire"
The [blog post](https://blog.golang.org/wire) announcing Wire points to "a [tutorial](https://github.com/google/go-cloud/tree/master/samples/tutorial) that walks through using Wire in a simple application". However, the linked tutorial doesn't mention Wire.

[2018-10-10 17:09] Terminator637 opened #52 "wire: don't work with go modules [go v.1.11.1]"
When I run the wire command, I get the following:
[code]
wire looks at GOPATH and GOROOT instead of modules dir, what am I doing wrong?

[2018-11-06 23:01] vangent opened #62 "wire/cmd: wire help needs to be better"
[code]

The help text needs to explain what the commands actually do.

[2018-11-12 17:52] zombiezen opened #66 "wire: test flakes on Travis with "failed to cache compiled Go files""
### Describe the bug

The Wire tests fail intermittently on Travis with an error like:

[code]

### To Reproduce

This is an intermittent failure, but I've only seen it on Travis. Uncertain what the triggers are.

## Expected behavior

Wire tests should pass.

/cc @vangent, who I believe hit this failure before, but I can't find evidence of it.

[2018-11-14 19:32] gracenoah opened #68 "wire: generator does not reuse intermediate results"
### Is your feature request related to a problem? Please describe.

Wire takes a very long time to generate code on large projects.

### Describe the solution you'd like

It would be great if wire could be more efficient in cases where it needs to be run multiple times.

### Describe alternatives you've considered

One way might be for it to take a list of packages like `./...` and run against tho

[2018-11-16 18:02] vangent opened #72 "wire: factor out common code in solve"
In `solve`, similar code (grabbing src, adding to used, checking if it's an interface binding) is largely ~repeated for each entry in the switch except `IsNil`. For `Value`, it looks like adding to used is skipped if it's an interface binding, this may be a bug...? It might be better to factor out this code and make it look more like:

[code]

[2018-11-28 19:17] zombiezen opened #1 "wire: report all dependency graph errors at once"
Right now, Wire bails on the first missing dependency or other such graph error.  It should try to collect as many errors as it can then report them in one go.  This would reduce the number of times that a user needs to re-run gowire during initial setup.

[2018-11-28 19:17] #1 closed

[2018-11-28 19:17] zombiezen opened #2 "wire: accept alternate forms of injector template"
To avoid bikeshedding and new user confusion, Wire should allow for forms of injector function templates other than the `panic(wire.Use(...))` syntax.

The concrete suggestions were:

[code]

The above does not type-check, which may confuse IDEs and tooling. Wire would need to special-case ignoring the type-check errors inside the template body.  I'd also like to permit:

[code]

/cc @cflewis @rsc

[2018-11-28 19:17] #2 closed

[2018-11-28 19:18] zombiezen opened #3 "goose: rename Goose"
Before launching, Goose might need a different name.  I don't know what this name should be, but I'm keeping the issue open so we don't forget about it.

[2018-11-28 19:18] #3 closed

[2018-11-28 19:18] zombiezen opened #4 "wire: ignore type-check errors in functions that can't be injectors"
Another DevEx slowdown when using Wire is that it requires all the functions in the injector package to type-check before it will run.  It would be nice to have it combine this with a quick AST pattern match to see if the function could even plausibly be an injector function before aborting the process.

[2018-11-28 19:18] zombiezen opened #5 "wire: incrementally verify provider sets"
From a TODO I added:

https://github.com/google/go-cloud/blob/bf596b4c8d80a30a6087a75426f84842d6d14c6d/goose/internal/goose/analyze.go#L236

Instead of doing analysis/validation at the very end of generation, it would be better to do in a more modular way, such that each call to `*objectCache.processNewSet` is guaranteed to return a provider set that...

-  ...does not include cycles.
-  ...does n

[2018-11-28 19:18] #5 closed

[2018-11-28 19:18] zombiezen opened #6 "wire: add check command"
gowire should have a `check` command that verifies that all of the provider sets declared in a package are valid (e.g. `NewSet` arguments are well-formed, no cycles).  This wouldn't entail new logic, but is blocked by #29.

When this is added, we should add a step to our Travis builds that runs `gowire check` across all packages.

[2018-11-28 19:18] #6 closed

[2018-11-28 19:18] zombiezen opened #7 "wire: allow method calls to be used as provider functions"
It would be nice to permit methods to be used as providers, so a set like this could be written:

[code]

[2018-11-28 19:19] zombiezen opened #8 "wire: add "subtract" command"
If someone wants to "override" a set of providers from a larger set, it would be helpful to have the gowire tool output the minimal code to create a new provider set that "carves out" the given provider from the set.  Ideal workflow:

[code]

Perhaps this would include an interactive mode that shows you everything in the provider set and lets you pick which types to remove by menu, since typing ty

[2018-11-28 19:19] zombiezen opened #9 "wire: add generated line numbers"
`wire_gen.go` copies over declarations from the injector template. However, if there is a problem, the developer should modify the injector template source, not the generated code. To ensure stack traces and compiler errors show up properly, `gowire` should emit [`//line` directives](https://golang.org/cmd/compile/#hdr-Compiler_Directives).

[2018-11-28 19:19] zombiezen opened #10 "wire: support loading type-checking with Go modules"
Wire uses [`golang.org/x/tools/go/loader`](https://godoc.org/golang.org/x/tools/go/loader) to get type information, but this does not use Go modules.  The current workaround is to run `vgo mod -vendor`, but this occasionally requires adding more imports temporarily to pin all the dependencies (especially when using `awscloud.AWS` or `gcpcloud.GCP`).  There isn't a good way to solve this until Go m

[2018-11-28 19:19] #10 closed

[2018-11-28 19:19] enocom opened #11 "Present wire as a go generate tool, not a DI framework"
In the Go community, "framework" is cause for tremendous skepticism. And with "Dependency Injection" as a modifier, wire is positioning itself to be dismissed outright by many, when in fact wire is more like a go generate tool.

One other change would be to swap the use of "providers" with "initializers."

[2018-11-28 19:19] #11 closed

[2018-11-28 19:19] zombiezen opened #12 "wire: make wire package publicly import-able"
Other static analysis tools might want to get access to the Wire provider graph for visualization, navigation, etc.  The package is currently internal so that the API can be iterated on quickly, but once it's baked, it would be good to allow others to use it.

[2018-11-28 19:20] zombiezen opened #13 "wire: replace wire.Value with wire.Zero"
In reviewing the Wire documentation, I think that the variable reference semantics in [`wire.Value`](https://github.com/google/go-cloud/blob/8d8a045435028daa4d4ee8da626c748ad82833cc/wire/README.md#binding-values) expressions are too subtle, and are impossible to precisely reproduce if a runtime-based approach is ever used.  Out of the 9 current non-test usages of the `wire.Value`, only 2 use a non

[2018-11-28 19:20] #13 closed

[2018-11-28 19:20] zombiezen opened #14 "wire: add docs about compatibility of provider sets"
Under best practices, we should provide guidance of how to evolve a provider set in a library over time.  This should spell out what types of changes to a library provider set are permitted, much like the [Go 1 compatibility document](https://golang.org/doc/go1compat).

[2018-11-28 19:20] #14 closed

[2018-11-28 19:20] zombiezen opened #15 "wire: only evaluate Value expression at injector package initialization time"
In #98, I proposed eliminating the [`wire.Value`](https://github.com/google/go-cloud/blob/8d8a045435028daa4d4ee8da626c748ad82833cc/wire/README.md#binding-values) directive because of its somewhat confusing (and non-runtime-replicatable) behavior of re-evaluating the expression on every call to the injector.  @rsc suggested a better compromise: the used `wire.Value` expressions should be copied as

[2018-11-28 19:20] #15 closed

[2018-11-28 19:21] zombiezen opened #16 "wire: rewrite test cases to use new return-based form"
As of 0142b8eb69e25e8ecf0e4717b96e2b21585d8b19, the Wire documentation recommends `return`-based injector templates.  The test cases have not been updated to the new norm, so should be updated to reflect idiomatic usage.

[2018-11-28 19:21] #16 closed

[2018-11-28 19:21] zombiezen opened #17 "wire: interface type in Value expression not available at runtime"
If a user writes something like:

[code]

or even:

[code]

Then the interface type information isn't available at runtime.  This was the other problem I identified in #98, but is not being addressed by #104.  I don't have a good answer for how to fix this one, though.

[2018-11-28 19:21] #17 closed

[2018-11-28 19:21] zombiezen opened #18 "wire: error out if wire.Build has any unused arguments"
h/t @neild for the suggestion.

Wire can know during generation if `wire.Build` has any arguments that are unused.  Much like unused imports, including something unused should be made into a `gowire` error to prevent dependency bloat.

[2018-11-28 19:21] #18 closed

[2018-11-28 19:21] zombiezen opened #19 "wire: add "prune" command"
Since Wire knows the minimal set of provider functions and `wire.Value` expressions it needs to generate the injector, we could introduce a command that trims out any provider sets from a `wire.Use` statement that aren't fully used and replaces them with exactly the elements that do get fully used.  There could also be a more aggressive option that inlines all the provider functions and `wire.Valu

[2018-11-28 19:21] ijt opened #20 "gowire reports "cannot find package" for various pkgs after running vgo mod -vendor"
Here's my session. vgo installs for example fsnotify, but then gowire doesn't find it.

[code]

[2018-11-28 19:21] #20 closed

[2018-11-28 19:21] drewolson opened #22 "wire: separate go.mod to avoid pulling all of go-cloud?"
I'm using `wire` in a few projects and loving it, thanks!

That said, it would be awesome if using `wire` didn't require me to pull in all of `go-cloud`. Have you considering including a separate, nested `go.mod` or extracting the project to its own repository?

Thanks again!

[2018-11-28 19:21] #22 closed

[2018-11-28 19:21] drewolson opened #23 "wire: `go get`-ing the wire cmd fails inside of a go module"
[code]

[2018-11-28 19:21] #23 closed

[2018-11-28 19:22] ijt opened #24 "wire: command should show help when requested"
I tried a few things and found no way to get the wire command to show help.
[code]

[2018-11-28 19:22] #24 closed

[2018-11-28 19:22] ijt opened #25 "wire: caching fails to make tests run instantaneously"
[code]

It should take no more than a second to run the tests in the cached case, but really it should be on the order of 100 milliseconds or less.

The problem appears to be that there are many subtests that are dynamically generated. The dynamic generation takes a while, and apparently has to happen regardless of whether there are cache hits for all the tests.

An alternative that would probably

[2018-11-28 19:22] #25 closed

[2018-11-28 19:22] vangent opened #26 "wire: consider splitting "wire" into a separate repository"
"wire" is relatively complex, and only tangentially related to Go Cloud. It may also be useful for dependency injection use cases that are not using Go Cloud. We should consider splitting it into a separate repository to make that clear.

Related: the documentation in Go Cloud should make it more clear what wire's role is. E.g., I'd suggest that we have a simple example app that doesn't use wire,

[2018-11-28 19:22] #26 closed

[2018-11-28 19:22] vangent opened #27 "wire: ProviderSet.Name is never filled in"
It's supposed to be set to the variable name if the ProviderSet is a package variable, but it's not.

[2018-11-28 19:22] #27 closed

[2018-11-28 19:22] zombiezen opened #28 "wire: turn tests into replay tests"
@vangent had an excellent suggestion about how to speed up Wire tests: save a copy of the "golden" code generation and add a record mode.

Currently, the Wire tests are split into `Generate` (runs `go build`) and `Determinism` (runs Wire twice and compares for equality). @vangent observed the similarity between this and our other replay tests, and suggested to merge this into one test: `Generate`,

[2018-11-28 19:22] #28 closed

[2018-11-28 19:23] zombiezen opened #29 "wire: unused provider error when only pointer to struct is used"
Repro case:

[code]

This produces the error:

[code]

I expect this to succeed.

[2018-11-28 19:23] #29 closed

[2018-11-28 19:23] #30 closed

[2018-11-28 19:23] shantuo opened #30 "wire: investigate how vendor works when module is turned on"

[2018-11-28 19:23] drewolson opened #31 "wire: Issues with struct providers"
I created a simple example project with go 1.11 [here](https://github.com/drewolson/wiretest). Here's what I'm seeing currently:

[code]

If, however, I replace the struct provider with an explicit provider, it works.

[code]
This seems to be an issue with struct providers, unless I'm doing something wrong.

[2018-11-28 19:23] #31 closed

[2018-11-28 19:24] nicks opened #33 "wire: fails with wasm errors with go 1.11"
After upgrading to go 1.11, when I run wire, I get errors like below. Updating `wire` doesn't seem to help

[code]

[2018-11-28 19:24] #33 closed

[2018-11-28 19:24] vangent opened #34 "wire: wire.Value is not forbidding references to names introduced in function scope"
See
https://github.com/vangent/go-cloud/tree/wirebug/wire/internal/wire/testdata/ValueFromStructField
for an example.

[code]

results in generated code

[code]

which fails with

        wire_test.go:110: go build check failed: build: exit status 2; output:
            # example.com/main
            ./wire_gen.go:33:22: undefined: cfg
            ./wire_gen.go:34:22: undefined: cfg
            ./

[2018-11-28 19:24] #34 closed

[2018-11-28 19:24] e-nikolov opened #35 "wire: improve the names of the generated variables."
Right now wire names the variables holding provided values based on their types and if there are collisions in those names, it adds a counter to the name. So if there are Clients coming from 3 different packages, we'd have client, client2, client3.

I think the generated code could be better if the package is also taken into consideration when naming a variable. For instance if we have redis.Clien

[2018-11-28 19:24] #35 closed

[2018-11-28 19:24] #37 closed, assigned to vangent

[2018-11-28 19:24] #38 closed, assigned to vangent

[2018-11-28 19:24] #39 closed, assigned to vangent

[2018-11-28 19:25] #40 closed, assigned to vangent

[2018-11-28 19:25] #41 closed, assigned to nobody

[2018-11-28 19:25] #43 closed, assigned to vangent

[2018-11-28 19:25] #44 closed, assigned to vangent

[2018-11-28 19:25] oceanful opened #45 "wire: document why wire doesn't allow duplicate identical providers in a provider set"
`wire.NewSet()` is the perfect terminology. By that definition, this (albeit contrived example) should ideally work:

[code]

Currently, this fails with a multiple bindings error. While you certainly want to prohibit the application from defining bindings in conflicting ways, automatically deduplicating _identical_ bindings would simplify application development with Wire.

A more interesting exam

[2018-11-28 19:25] #45 closed, assigned to zombiezen

[2018-11-28 19:25] #46 closed, assigned to gracenoah

[2018-11-28 19:26] #47 closed, assigned to vangent

[2018-11-28 19:26] #50 closed, assigned to zombiezen

[2018-11-28 19:26] #51 closed, assigned to enocom

[2018-11-28 19:27] #52 closed, assigned to zombiezen

[2018-11-28 20:05] TarekkMA opened #53 "wire: generate failed could not import "package" permission denied"
When ever I run wire the genration fails

Here is the output :
[code]

System Information
[code]

[2018-11-28 20:05] #53 closed

[2018-11-28 20:05] #54 closed

[2018-11-28 20:05] breerly opened #54 "wire: Please break Wire out into it's own repo."
Hey there, one of the authors from [go.uber.org/dig](https://github.com/uber-go/dig) and [go.uber.org/fx](https://github.com/uber-go/dig) here.

Wire looks supremely useful - can you break this library out into it's own independently versioned repository? I'd love to prototype an application framework based on Wire, but would be hesitant to do so without a standalone semantically versioned package

[2018-11-28 20:05] vangent opened #55 "wire: add info from the dependency graph when a type is not provided"
Wire gives errors like this:

[code]

when no provider is found for a type in the dependency graph. However, it doesn't tell you *why* it needs that type. We should add info to the error message about where the need for the type came from. Note that there may be multiple paths in the graph.

[2018-11-28 20:05] #55 closed

[2018-11-28 20:05] oceanful opened #56 "wire: wire.Bind doesn't consider arguments to the injector function"
Wire understands how to take parameters passed into the injector method and supply them to provider methods.

However, I could not find a way to explicitly bind types to the parameters passed into the injector. For example, it would be nice if something like this was possible:

[code]

The workaround I came up with is to define a wrapper interface and extra provider method:

[code]

However, this

[2018-11-28 20:05] #56 closed

[2018-11-28 20:05] zombiezen opened #57 "wire: add an FAQ section to docs"
After the Wire blog post and a variety of talks, there are some questions that come up rather regularly:

- How does Wire relate to other DI tools?
- Why is Wire part of Go Cloud?
- Why are the Wire directives a marker function package instead of comments?
- How should I deal with two dependencies of the same type?
- Who is using Wire?
- Should I use Wire for small applications?

These are exactly

[2018-11-28 20:05] #57 closed

[2018-11-28 20:06] vangent opened #58 "wire: use multiline for errors with traces"
There are a couple of `wire` errors that do the equivalent of stack traces. They are currently single-line, separate by characters like ", needed by" or "<- ", because until recently the wire tests couldn't support multi-line errors. They do now, so we should update them to be more readable.

[2018-11-28 20:06] #58 closed

[2018-11-28 20:06] zombiezen opened #59 "wire: Load has no tests"
The [`wire.Load` function](https://github.com/google/go-cloud/blob/11bb776c80e5cc8abaa6c9aead66d5c1129c9632/wire/internal/wire/parse.go#L196), used by Wire's interactive commands, does not have any tests. While it shares much of the code with the well-tested `Generate` function, it has enough additional functionality that it should probably have its own test suite.

[2018-11-28 20:06] VadimKulagin opened #60 "wire: the "Binding Values" example does not work"
### Describe the bug

In the Wire README there is an example:
[code]

And there is a note:

[code]

But in fact, this example does not work and an error occurs when calling "wire":
[code]

What am I doing wrong? Why is this error displayed?

### To Reproduce

See above

## Expected behavior

[code]

### Version

I tried v0.4.0 and master.

### Additional context

go version go1.11 darwin/amd64

[2018-11-28 20:06] #60 closed

[2018-11-28 20:06] ijt opened #61 "wire: can't handle varargs"
### Describe the bug

Wire can't handle functions with varargs.

### To Reproduce

1. Add a varargs parameter to a function, see for example

https://github.com/google/go-cloud/pull/618/commits/7cfcbb8d125f92217aa65cdf390bddb488a08d9c

2. Add a wire.Value entry to provide a concrete value for the parameter.

3. Run wire.

## Expected behavior

The Go file generated by wire should compile, but it d

[2018-11-28 20:06] vangent opened #63 "wire/tests: travis should verify that `go generate` output matches checked-in `wire_gen.go`"
Travis should verify that running `go generate` for the Wire injectors in our repo actually produces the checked-in `wire_gen.go`.

[2018-11-28 20:06] zombiezen opened #64 "wire: README should explain how to install Wire with modules-aware go tool"
Wire's current installation documentation reads:

This works fine for a GOPATH-based Go tool, but in Go 1.11 with modules enabled, `go get` has a number of new hurdles around how to install a binary (i.e. golang/go#24250, golang/go#25922, and golang/go#27653). Once there is more consensus on those issues, we should update the Wire README with the best practices on how to make Wire available.

[2018-11-28 20:06] zombiezen opened #65 "wire: decreased performance after using go/packages"
After [switching](https://github.com/google/go-cloud/pull/623) to using `go/packages` for analysis, the test suite for Wire (and the tool itself) has slowed on the order of 4x its previous execution times. The primary factors appear to be the call to `go list` and the increase in type-checking surface due to missing control over function body and comment parsing.

[2018-11-28 20:07] zhengyangfeng00 opened #67 "wire: generate body of factory methods"
### Is your feature request related to a problem? Please describe.

I am trying to figure out how to use wire in factory pattern. For example I have a factory for creating object X which depends on Y and Z, and there are corresponding factories for Y and Z. So my code looks like this:

[code]

Wire allows me to inject customized Y and Z factory instances into the X factory, which is great. I hope

[2018-11-28 20:07] #67 closed

[2018-11-28 20:07] vangent opened #69 "wire: support function arguments as providers"
This doesn't work:

[code]

It currently panics. I have an easy fix for the panic, but it then results in:

[code]

`fn` should be usable as a provider for `Foo`/`*Foo`.

[2018-11-28 20:07] vangent opened #70 "wire: add a diff command"

[2018-11-28 20:07] #70 closed

[2018-11-28 20:07] vangent opened #71 "wire: generate should support multiple packages"
Right now it fails if more than one package is provided. This is kind of OK because most users do `go generate`, which will call Wire with a single package at a time, but it would be nice to call Wire explicitly with a pattern.

E.g., at the root of go-cloud:

[code]

--> That should work.

[2018-11-28 20:07] #71 closed

[2018-11-28 20:08] metaldrummer610 opened #73 "wire: unable to be used inside of a Go Module?"
I'm using Go modules for dependency management in my project, and I have been unable to get the `wire` command to work properly. I should note this project is *not* is my GOPATH.

When I execute `wire`, I get the following message:

[code]

However, if I run `wire` outside of the module, it works just fine and I'm able to use the tool no problem.

I've tried various versions of go-cloud (v0.6.0, v

[2018-11-28 20:08] #73 closed

[2018-11-28 21:52] gracenoah commented on #68
I see that support for `./...` has been added in https://github.com/google/go-cloud/pull/729. The latest version of wire takes 17 seconds to generate output in 17 packages using that. That's pretty good for now.

[2018-11-28 22:34] zombiezen commented on #68
Excellent, glad this helped. I'll close this out, but feel free to open a new issue if things start getting sluggish again.

[2018-11-28 22:34] #68 closed

[2018-11-28 22:38] oceanful opened #77 "wire: document why wire doesn't allow duplicate identical providers in a provider set"
`wire.NewSet()` is the perfect terminology. By that definition, this (albeit contrived example) should ideally work:

[code]

Currently, this fails with a multiple bindings error. While you certainly want to prohibit the application from defining bindings in conflicting ways, automatically deduplicating _identical_ bindings would simplify application development with Wire.

A more interesting exam

[2018-11-28 22:38] #77 closed

[2018-11-28 22:44] zombiezen commented on #49
:wave: We've moved! Wire is now its own separate module and repository.

google/go-cloud#828 will track dropping Wire from the Go Cloud repository in a graceful way.

[2018-11-28 22:44] #49 closed

[2018-11-29 02:36] leighmcculloch commented on #49
Yay! Fantastic. @zombiezen Thanks!

[2018-11-29 16:55] enocom opened #80 "Move tutorial over from go-cloud"
It seems [this](https://github.com/google/go-cloud/tree/master/samples/wire) should be here.

[2018-11-29 17:52] zombiezen opened #81 "Create new module proxy for Wire"
Wire is currently using Go Cloud's module proxy, which could cause issues later on. This project should have its own module proxy used for Travis builds.

[2018-11-29 17:54] zombiezen opened #82 "Set up Contribute Bot for Wire"
We want to manage Wire with the same set of processes that we developed for Go Cloud. I'll look into making the alterations to Contribute Bot and installing the GitHub application on this repository.

[2018-11-29 18:28] zombiezen opened #83 "Stop permitting old marker functions import path"
For some period of time before removing support, we should add warnings when Wire encounters any code that imports `"github.com/google/go-cloud/wire"` instead of the new `"github.com/google/wire"` import path. I'm not entirely certain of how we want to stage this migration: should it error out, should it only be when a symbol gets used for a provider set versus all dependencies, etc.

[2018-11-29 18:41] zombiezen opened #84 "Consider splitting README into multiple docs"
The README is a bit long now, especially now that it contains introductory project material along with user guide and the FAQ section. I think it might be wise to split out the documents, perhaps even using GitHub wiki pages?

[2018-11-29 18:44] shantuo commented on #84
I think advanced features and best practices may be moved to wiki pages. The FAQ I'm not sure, I think it can either stay in the README or be moved to its own doc.

[2018-11-29 18:46] vangent commented on #84
+1

[2018-11-29 18:52] zombiezen commented on #84
GitHub wiki pages don't give the level of access control that seems right for this kind of documentation. But yeah, my idea is four docs:

- README.md
- docs/guide.md (Basics & Advanced Features)
- docs/best-practices.md
- docs/faq.md

[2018-11-29 20:32] #84 closed

[2018-11-29 20:37] shantuo commented on #83
Some thoughts:

1.  From go-cloud v0.7.0, people running `wire` from `github.com/google/go-cloud/wire/cmd/wire` get a warning.
2. Remove `wire` from go-cloud v0.7.0, this seems not as good as 1)
3. `github.com/google/wire/cmd/wire` checks for imports from the old repo.

[2018-11-29 20:45] zombiezen commented on #83
I think moving the Wire CLI is okay, but if you disagree, we should go discuss over on google/go-cloud#831 where I have a PR that does exactly that. 🙂

[2018-11-30 17:46] zombiezen opened #87 "Copy doc comments to injectors"
Generated injector functions don't end up having their comments copied over from their template. It would be nice for them to preserve it.

[2018-11-30 17:46] #80 closed

[2018-11-30 18:08] zombiezen commented on #82
In thinking about this, what we really want to have is a per-repository configuration on Contribute Bot, of which this is the first divergent property. I briefly considered using runtimevar for this purpose, but the downside would be that the policy would not be version controlled and invisible to those without access to the GCP project. I think the better way would be to have a `.contributebot` J

[2018-11-30 18:11] vangent commented on #82
SGTM

[2018-11-30 20:11] prashantgupta24 opened #89 "Error - wire: no injector found for ."
### Describe the bug

importing

[code]

and running `wire` always gives me:
[code]

Just changing the import to
[code]
generates the `wire_gen.go` file without any other changes.

#### System details

[code]

[2018-12-03 18:36] garukun opened #93 "wire: UX can be better by supporting argument name matching warning during `wire check`"
### Problem
Considering the following scenario:

[code]

`wire check` and `wire gen` completes just fine. While by the argument name, `name` and `version` means different things, both will actually be injected with the value of `name`. While I believe this is a user error and can be fixed using named types, UX can improve here.

### Suggestion
While running `wire check` or `wire gen`, in addition

[2018-12-04 20:31] zombiezen commented on #93
Interesting idea. While I do think it would be difficult to determine whether a differing parameter name has semantic meaning as to how it's being interpreted, it could be interesting to emit warnings if a graph contains common built-in types. Perhaps a `wire lint` command that encourages [best practices](https://github.com/google/wire/blob/master/docs/best-practices.md).

[2018-12-04 21:04] maiamcc commented on #33
For anyone else blindly running any commands they find in codeblocks (...hi...), note that now that wire is its own repo, the command is:
[code]

[2018-12-04 22:42] garukun commented on #93
Thanks for replying! Warning on built-in types would be awesome as well.

Meanwhile, I feel like `wire check` and `wire lint` can create some confusions. While I did not dive too much into the implementation details of `wire check`. Based on the commentary:

[code]

There can be some redundancy in `wire gen`, `wire check`, and `wire lint`. A particular development flow can feel like:

_Hack, hack,

[2018-12-04 23:14] zombiezen commented on #93
Yup, docs explaining the purpose of each of these commands would definitely help. FWIW, `wire check` is mostly helpful for libraries where you are creating provider sets that aren't going to be used in any injector. For an application, `wire [gen]` is all you need.

[2018-12-06 17:21] zombiezen commented on #59
I think we can still add tests for `wire.Load` without changing the existing structure of the commands. #12 tracks potentially making the `internal/wire` package import-able; let's discuss structural changes there.

I think the larger issue here is determining how to express "correct" output for `Load`. I suspect we would need to do some design work and more critically think about what's important

[2018-12-06 17:30] vangent commented on #59
OK let's decide on #12 before moving ahead here then, since I think the right way to test `Load` depends on whether we expose it publicly.

[2018-12-06 17:39] zombiezen commented on #12
We could. I'm just imagining a long tail of feature requests for different aspects of the data, and think it would be better for Wire to export the data in a useful format rather than trying to build and maintain all of possible uses of it.

[2018-12-06 18:04] vangent commented on #12
I hear you, but IMHO it's premature to try to expose a "useful format" without knowing what the use cases are or how the data will be used. We can start with a small API surface (basically, just the command line); if a long tail of feature requests comes along, we can always add a new way to expose internals later. It might be a public import for the library, or it might be a `.csv` output from th

[2018-12-06 21:06] Blquinn opened #94 "Code gen doesn't import anonymous imports"
When runinng `wire` or `go generate` anonymous imports such as:
[code]
don't appear in generated code.

### To Reproduce

Example code:

[code]

Then run `wire`

## Expected behavior

Should generate code with the following imports:

[code]

### Version

HEAD as of today

[2018-12-10 23:12] #81 closed

[2018-12-10 23:54] ijt opened #96 "error message about wire.Build does not provide enough context"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
I ran `wire` in a directory containing these files:
[code]

#### What did you expect to see?
I expected to see wire_gen.go generated, or an error message helping me find out why not.

#### What did you see instead?
[code]
The error message here doesn't say where the problem is.

#### System details

[code]

[2018-12-12 21:38] #82 closed

[2018-12-12 21:39] zombiezen commented on #82
🎉 Contribute Bot is ready to roll! 🎉

[2018-12-13 18:09] zombiezen commented on #83
Note that Go Cloud will be moving over to the `gocloud.dev` import paths soon (google/go-cloud#77), so this might be obsoleted by that.

[2018-12-13 18:40] zombiezen commented on #89
Haven't heard anything back here, so I'm going to close this out. Feel free to ping back if you're still having issues.

[2018-12-13 18:40] #89 closed

[2018-12-13 18:52] zombiezen commented on #96
@ijt, can you elaborate more on what information would have helped you to address the issue?

[2018-12-13 19:02] ijt commented on #96
Sure. I wanted it to tell me the file and line number where the problem occurred.

[2018-12-13 19:11] zombiezen commented on #96
Yeah, that's not working as expected. Thanks for the report!

[2018-12-14 20:56] #72 closed

[2018-12-14 23:58] ijt opened #99 "cryptic error message"
I'm running wire in a new project and getting an error message that I'm not sure how to interpret:
[code]
Here are the files in my project:
[code]

[2018-12-15 00:50] shantuo commented on #99
The error messages seem to be emitted from the go tool, but look like they are truncated. What happens if you run the list command? Does it provide the full error message?

[2018-12-19 15:47] ijt commented on #99
I just tried again to reproduce it with the code I posted earlier but it's not happening. Closing the issue for now.

[2018-12-19 15:47] #99 closed

[2018-12-26 00:20] elegos opened #100 "could not import PACKAGE (no metadata for PACKAGE) if wire in _test package"
### Describe the bug

I'm trying to use wire in a go 1.11.1 module, but wire is not able to get the metadata for the imported packages if the wire.go file has a `_test` suffix. Am I missing how to create dependency containers for testing packages?

### To Reproduce

Create a simple foo/bar dependency in package `service`, then in the same folder create a `wire.go` file with `package service_test`

[2019-01-02 16:42] vangent commented on #100
Hi @elegos , thanks for filing the issue. I believe it is a duplicate of #48, can you confirm?

[2019-01-03 14:00] elegos commented on #100
Yep @vangent, I think I must have missed it :)

[2019-01-03 16:19] vangent commented on #100
OK, marking closed then. I'll add you to the other issue.

Duplicate of #48.

[2019-01-03 16:19] #100 closed

[2019-01-03 16:20] vangent commented on #48
/cc @elegos

[2019-01-05 13:11] doodlesbykumbi commented on #94
@zombiezen @Blquinn I've made a PR attempting to fix this. See ^

[2019-01-07 03:58] DukeAnn opened #102 "Execute command prompt: packages not found"
### Describe the bug

I execute under the project: `wire`.
[code]

[code]

## Expected behavior

Generating gen files

### Version

[code]

### Additional context

[code]

[2019-01-07 16:57] zombiezen commented on #102
Hi @DukeAnn. Can you also tell me where you placed the ".go" file you included above? `wire`'s first argument is a package pattern, as documented [here](https://golang.org/cmd/go/#hdr-Package_lists_and_patterns).

[2019-01-07 17:04] #94 closed

[2019-01-10 01:32] gracenoah opened #106 "`go:generate wire` in generated files should be optional"
### Is your feature request related to a problem? Please describe.

We generate a lot of files with wire and we would like to use a single execution of `wire` to do that. When wire writes out `go:generate` instructions into files it generates, it makes it hard for us remove those commands and generate the wire files on our own.

### Describe the solution you'd like

I propose adding a flag such as

[2019-01-10 16:21] zombiezen commented on #106
Hi @gracenoah! I'm not sure that I understand the request here: is it the case that you want to invoke `go generate` to run something like `wire ./...` for your case?

[2019-01-10 17:36] zombiezen commented on #106
I see. I don't think this quite fits into the `go generate` model which is intended to be used on a package-by-package basis. I think you would be better served by writing a script or Makefile that performs the generate step with the correct Wire invocation. I don't think the additional user complexity in configuration outweighs the benefit of the behavior.

[2019-01-10 18:58] gracenoah commented on #106
Actually, I found out that you can pass build tags to go generate, so you can use `go generate -tags=wireinject ./...` to have wire's go:generate commands ignored so that we can call `wire ./...` separately from `go generate`.

Our overall wire related generation time went from 1:48 to 0:07 by changing from just `go generate ./...` to `go generate -tags=wireinject ./...` followed by `wire ./...`

[2019-01-10 22:48] dominikh commented on #66
@bcmills with a clean ~/.cache/go-build: https://play.golang.org/p/ghOtMwBnGu7

[2019-01-10 23:39] cespare commented on #66
We've been running into this same bug (via staticcheck and other go/packages-using code) in our CI environment as well. I filed https://github.com/golang/go/issues/29667 with @dominikh's helpful reproducer.

[2019-01-11 19:30] zombiezen commented on #66
Thank you @dominikh for the clean reproduction, and thank you @cespare for filing the upstream issue. Much appreciated! 👏

[2019-01-16 00:11] h7kanna opened #107 "wire: lifecycle for components"
### Is your feature request related to a problem? Please describe.
Managing lifecycle of the components. Hooks that at run at start and stop of the application.

### Describe the solution you'd like
Uber fx has similar functionality.
https://github.com/uber-go/fx/blob/master/lifecycle.go
https://godoc.org/go.uber.org/fx

### Describe alternatives you've considered

### Additional context

This tie

[2019-01-16 00:34] vangent commented on #107
@zombiezen can you comment and triage?

Wire does support cleanup functions (https://github.com/google/wire/blob/master/docs/guide.md#cleanup-functions), and provider functions are called at startup.

It looks like `fx` adds another round to the lifecycle, at least for startup:
1. Providers are used to create objects.
2. Once that is done, any `Start` hooks are called (in order).
3. When the appli

[2019-01-18 17:57] zombiezen commented on #102
I'm closing this out since I haven't heard anything back.

[2019-01-18 17:57] #102 closed

[2019-01-18 17:59] zombiezen commented on #83
In reviewing this, I think we can just stop allowing these imports in the next Wire release.

[2019-01-18 18:07] zombiezen opened #108 "Use new testing packages in x/tools for integration tests"
`golang.org/x/tools` now includes [`golang.org/x/tools/go/packages/packagestest`](https://godoc.org/golang.org/x/tools/go/packages/packagestest) &mdash; test infrastructure to set up Go workspace layouts. Using this infrastructure would allow us to remove our bespoke code to accomplish the same goal.

Further, `x/tools` now also includes [`golang.org/x/tools/go/expect`](https://godoc.org/golang.or

[2019-01-18 18:13] zombiezen opened #109 "Show more information about injectors in `wire show`"
(Reporting on behalf of @vangent)

### Is your feature request related to a problem? Please describe.

When examining provider sets referenced in an injector, you have to rely on code navigation in the editor to understand the full graph.

### Describe the solution you'd like

For all injectors encountered in `wire show`, the command should print all the providers brought in with filename and line

[2019-01-26 00:03] zombiezen opened #110 "Support field tag to prevent Wire filling in struct fields"
### Is your feature request related to a problem? Please describe.

Like in #36, it would be nice to restrict Wire from filling in certain fields. Sometimes it's useful to specify these rules from the provider set side, and other times it's useful to specify these rules closer to the struct definition.

### Describe the solution you'd like

I'd like to be able to add a struct tag like `wire:"-"`:

[2019-01-28 21:57] #83 closed

[2019-01-31 10:01] jarollz opened #112 "Can't bind from InterfaceA to InterfaceB although both has exactly the same methods definition"
Given the following code:

__Interfaces__
[code]

__Structs__
[code]

__Providers__
[code]

__Injectors__
[code]

`wire ./...` can't generate code, with error like:
[code]

[2019-02-01 07:47] jarollz opened #113 "wire: improve error message when a provider set includes a binding but not the corresponding concrete type"
### Describe the bug

A wire set containing __subsets__ (one or more wire sets), should be just the same as a wire set with items from that subsets added directly.

### To Reproduce

Given this code:

__master.go__
[code]

__wiring.go__
[code]

__injectors.go__
[code]

Running `wire ./...` results in an error:
[code]
It's as if items from `WiringProviders` can't be seen by `WiringBindings` althoug

[2019-02-05 23:32] vangent opened #116 "docs: binding interfaces example is confusing"
[Here](https://github.com/google/wire/blob/master/docs/guide.md#binding-interfaces)

The second example (for binding interfaces) includes a provider that returns an interface, which contradicts the first part of the section that asserts that providers should return concrete types.

Also, it would be helpful for both examples to include a use of the interface. For example, the first example defines

[2019-02-05 23:55] eliben opened #117 "No blank line after the "build wireinject" leads to delayed errors at build time"
If we take the tutorial's wire.go file and remove the blank line between the build constraint and "package main":

[code]

`wire` runs successfully, but when we run `go build` we get:

[code]

This is because the build constraint is not recognized by `go build`, which attempts to compile both `wire.go` and `wire_gen.go` into the same package.

Perhaps `wire check` could warn about these scenarios?

[2019-02-06 00:01] vangent commented on #112
Having said that your injectors shouldn't return interfaces, I think your test would actually work if you dereferenced the interface in the binding:

[code]

@zombiezen is going to file a bug about making this less subtle.

[2019-02-06 00:03] vangent commented on #113
A very subtle line in the user guide states "Any set that includes an interface binding must also have a provider in the same set that provides the concrete type."

So, your `WiringBindings` provider set is invalid. Our error message here is very poor, and we'll take this bug to make it more obvious.

[2019-02-06 00:03] zombiezen opened #118 "docs: InterfaceValue godoc should describe its arguments"
The [`InterfaceValue`](https://godoc.org/github.com/google/wire#InterfaceValue) marker function does not describe its arguments.

[2019-02-06 00:11] vangent opened #119 "all: re-enable windows build"
The tests are failing so I temporarily disabled the windows build.

The tests are failing with extraneous '\r` characters in wire generated files.

[2019-02-06 00:13] zombiezen opened #120 "Bind's second argument should take a pointer"
`Bind` uses the type of the second argument's expression. Example:

[code]

However, this is inconsistent with other marker functions that take in "types" use, *including the first argument to `Bind`*. Even the example given in the docs is wrong:

[code]

I propose that we make the second argument to Bind consistent. This is a breaking API change, but I think one worth doing.

/cc @vangent

[2019-02-06 01:01] vangent commented on #119
[code]

[2019-02-06 01:07] vangent commented on #119
The `+` line from diff is `want`, so it looks like the golden files have `\r` in them. These lines https://github.com/google/wire/blob/master/.travis.yml#L36-L37 were supposed to get rid of them.

[2019-02-06 03:15] jarollz commented on #113
@vangent: Thanks for making it clearer. However, maybe in the future there could be something like `wire.NewSubSet`, so that we can reuse/mix-match some binding subsets with some other provider subsets into a new set. In my case it's something like:

[code]

[2019-02-06 03:36] jarollz commented on #113
`BindingsSubset` binds from interfaces to structs which can be provided by both `RealProviders` and `MockProviders`.

[2019-02-06 03:39] vangent commented on #113
OK. If there are types that are in both `RealProviders` and `MockProviders`, then put them in their own set:

[code]

[2019-02-06 03:54] jarollz commented on #113
To clarify, what I have in mind is to prevent something like this:
[code]
As can be seen, the `wire.Bind` is the same, but needed to be written twice. That's why I imagine something like `wire.NewSubSet` that is just used to collect bindings, providers, etc which can't be used directly by `wire.Build`, but then can be composed into one through `wire.NewSet` which then run the checks that all bindi

[2019-02-06 04:03] vangent commented on #113
Why does `MockProviders` add a binding for `SomeStruct` when it's providing a `SomeStructMock`? It seems like it should be

[code]

Or is `NewSomeStructMock` returning a `SomeStruct`, just using a different constructor? If so, yes, I think you'll just have to repeat the `wire.Bind`.

[2019-02-06 04:07] jarollz commented on #113
Yes, `NewSomeStruct` and `NewSomeStructMock` both return the same type `SomeStruct`.
Indeed, it's true as of now (v0.2.1) I'll need to repeat the `wire.Bind`.

I hope something like that new-sub-set can be provided in the future :+1:

[2019-02-06 06:16] vangent opened #124 "tests: flaky tests on Travis"
Builds fail semi-regularly with this:

[code]

[2019-02-06 15:05] zombiezen commented on #112
Opened #120 for less subtlety and more consistency.

[2019-02-06 22:12] #119 closed

[2019-02-06 22:47] eliben commented on #117
The underlying reason here seems to be a difference in behavior between the go tool and gopackages. With the go tool, when there is no empty line between the build constraint and `package main`, the build constraint is ignored and the file is taken into the build.

Note the result of this `go list` run (in the tutorial  directory):

[code]

When the empty line is introduced, we get:

[code]

This

[2019-02-06 23:17] eliben commented on #117
It occurred to me that wire doesn't even try to find files with the `wireinject` build constraint. It looks through all the files in the package *that don't have the build constraint* and looks for `wire.Build` calls. So, in the tutorial code it will scan `main.go` as well, even though that has no build constraints.

Given this, I'm not sure what else wire can do here. It could look for build cons

[2019-02-07 22:59] yairgo opened #125 "Problem running wire from tutorial"
### Describe the bug

I can not get the `wire` command to work. Started off with the tutorial, made a directory in `~/go/src/test` and copied the `main.go` and `wire.go` files from the `_tutorial` directory.
Ran `go get github.com/google/wire/cmd/wire` then proceeded to run `wire`, here is the output:

[code]

I then tried to run wire from the downloaded repo:

[code]

### To Reproduce

[code]
16:

[2019-02-08 17:23] eliben commented on #117
After chatting about this with @light - one thing we could do is check that files where we find injector calls have the proper build constraints set and complain if they don't.

[2019-02-11 16:58] #113 closed

[2019-02-11 18:39] zombiezen commented on #125
I'm unable to reproduce this failure, despite trying a few different possibilities. This error message should only show up if there's a misconfiguration of your GOPATH or there's some other reason why Wire can't find your files. Is there anything else unique about your setup?

[2019-02-11 19:50] yairgo commented on #125
I don't think that I have anything unique about my setup. Is there anything I can share to help?

Personally it looks like the issue might have to do with this package "golang.org/x/tools/go/packages", but I can't figure out why.

[2019-02-11 20:02] yairgo commented on #125
@zombiezen I'm not as familiar with go modules as I would like to be. I know that on my machine in my GOPATH,

github.com/google/go-cmp v0.2.0 -> does not exist
github.com/pmezard/go-difflib v1.0.0 -> is 1 commit ahead but is just a readme fix
golang.org/x/tools v0.0.0-20190205201329-379209517ffe -> is on a way different version

From my understanding, this should not matter when executing the `wi

[2019-02-11 20:58] zombiezen commented on #125
Still investigating, here's what I've found so far:

-  This seems to be related to #102, at least by error message.
-  I can't find what would be emitting that error message, but I suspect it's coming from `golang.org/x/tools/go/packages`.
- Chasing down that hypothesis turned up golang/go#26845, which seems to indicate that the issue may come from `go` not being present in the `PATH`.

@yairgo C

[2019-02-11 21:35] yairgo commented on #125
[code]

[2019-02-11 21:37] yairgo commented on #125
Not sure if this helps at all:
[code]

[2019-02-11 21:38] yairgo commented on #125
@zombiezen I think I can find a machine without golang installed. Want me to do a fresh install there and see what I can come up with?

[2019-02-11 21:41] zombiezen commented on #125
Thanks @yairgo, that rules out some possibilities. One more idea, can you run:

[code]

And see if that resolves your issue?

[2019-02-11 21:44] yairgo commented on #125
@zombiezen that worked. I swear I ran `go get -u golang.org/x/tools/go/packages` before submitting this issue... 🤷‍♂️ Maybe I didn't `go get github.com/google/wire/cmd/wire` again afterward.

Thanks for helping me through this.

[2019-02-11 21:45] yairgo commented on #125
I'm still slightly confused as to how/why this would matter if wire is using `go modules`? any insight into that?

[2019-02-11 22:15] zombiezen commented on #125
Glad that worked!

So Wire uses [`golang.org/x/tools/go/packages`](https://godoc.org/golang.org/x/tools/go/packages) behind the scenes in order to gather all of the files to parse. `go/packages` is specifically designed to be agnostic to source code layout (e.g. modules versus GOPATH workspaces), so it shells out to the `go` tool to obtain the information that it needs. Since this requires coopera

[2019-02-11 22:15] #125 closed

[2019-02-11 22:19] zombiezen commented on #102
@DukeAnn, another user just encountered the same problem. In that case, we found the issue to be an out-of-date copy of `golang.org/x/tools/go/packages`. If you're still having issues, try running:

[code]

and seeing if that resolves your issue.

[2019-02-11 22:22] yairgo commented on #125
@zombiezen thanks for all the help

[2019-02-13 18:58] eliben opened #127 "Deprecate module proxy"
See https://github.com/google/go-cloud/issues/1304

We need similar dependency tracking for wire, which also uses the proxy

[2019-02-15 09:11] DukeAnn commented on #102
Thank you

[2019-02-15 15:59] #127 closed

[2019-02-22 08:42] ShawnShoper opened #134 "can not get wire for `go get github.com/google/wire/cmd/wire`"
use cmd go get github.com/google/wire/cmd/wire. The go get first download the `astuil` `packages` ect.
but the `golang.org/x/tools/go` can't not to access.
so what can i do for use the `wire` project

[2019-02-22 13:51] eliben commented on #134
I'm having a hard time reproducing your issue. Can you say what `echo $GOPATH` shows on your system? And paste the exact output of the `go get` command?

[2019-02-22 19:16] shantuo commented on #134
It might be because there's network issues to get that in China. Try download it from the GitHub mirror
[code]
Then you can move everything under `tools` into `$GOPATH/src/golang.org/x/tools`

[2019-02-25 23:50] shantuo commented on #32
Discussed with @zombiezen  offline a bit more. We could add a little bit more of flexibility by matching the "names" of the fields, not types. But the uniqueness of the types that can be used in `FieldsOf` remains unchanged.

[code]

[2019-02-28 02:02] shantuo opened #139 "Support FieldsOf for `wire show`"
This is a follow-up change for #32

[2019-02-28 02:03] shantuo opened #140 "Document usage of FieldsOf in the user guide"
This is a follow-up change for #32

[2019-03-01 19:20] #118 closed

[2019-03-01 21:52] #32 closed

[2019-03-05 00:26] shantuo commented on #36
Similar to what we did for `FieldsOf`, I think we could use the field's name instead of type.

[code]

[2019-03-06 00:52] e-nikolov opened #144 "Error: unknown pattern"
If the old imports ("github.com/google/go-cloud/wire") are used for provider sets (probably other things too) with the new binary ("github.com/google/wire"), a very non-descriptive error is shown during generation that just states "unknown pattern".

Not sure if it is necessary to take any action to improve the error message, but I wanted to make this issue in case anyone else stumbles upon this a

[2019-03-06 06:27] shantuo commented on #144
"unknown pattern" comes from processing the marker functions, I agree we can improve the error message, at least notifying user to update wire when appropriate.

[2019-03-07 00:19] #139 closed

[2019-03-09 05:16] firelizzard18 opened #145 "Add an option to include a hash/checksum of the source files"
### Describe the solution you'd like

I would like an option that adds a field to the generated go code, the value of which is a hash of the source files consumed by wire to generate the go code. Something like:

[code]

What I would like to achieve is a git pre-commit hook that would prevent committing when `wire.go` and `wire_gen.go` no longer match.

### Describe alternatives you've considered

[2019-03-09 06:21] vangent commented on #145
Can you use `wire diff` for this instead? Here's an example in the shell script that our Travis job over on the `go-cloud` repo runs, for a similar purpose (except it causes the checks to fail instead of being a git pre-commit hook).

https://github.com/google/go-cloud/blob/master/internal/testing/runchecks.sh#L57

[2019-03-09 07:14] firelizzard18 commented on #145
I want the pre-commit hook to be runnable without Wire installed. Linux, macOS, and Windows all come OOTB with a hash tool or two, so a pre-commit hook based on this could work without requiring the dev to do anything but clone my project and install the hook.

[2019-03-11 17:26] vangent commented on #145
What is the dev expected to do if the pre-commit hook fails? It seems like they'd need to install Wire to fix the problem anyway, no?

Also, note that the "expected" contents of `wire_gen.go` could change when `wire.go` changes, but also when you get a new version of `wire` itself.

[2019-03-14 16:00] steebchen commented on #106
I don't understand why the line is added to the generated file in the first place. What's the use case for this? I ask this because I run my wire file differently (`//go:generate go run github.com/google/wire/cmd/wire`) which seems to have compatilibty, and a collaborator now gets an error just because there is an extra `//go:generate wire` in the generated file.

[2019-03-14 16:37] zombiezen commented on #106
The idea is to make `go generate` work for users who may not be aware of the feature. If you want to customize your `go generate` step, you could use `sed` to remove the line like so:

[code]

[2019-03-14 16:46] steebchen commented on #106
Thanks for the idea (even though I don't quite like it) :P

Wouldn't the authors just put //go:generate in the original file like main.go? I mean if users wouldn't know that code has to be generated than I assume they wouldn't know they have to run go generate either.

[2019-03-15 21:02] shannontan-bolt opened #146 "Wire Launch"
Preface: This is not an issue, but I didn't think the Google groups were the right venue for this discussion. Feel free to punt this elsewhere, etc.

Hey team! We at Bolt are definitely intrigued by this project, and we're sort of charting our migration path forward before we embark on the development work. The large outstanding question at this point is when this project will make it out of alpha

[2019-03-18 19:22] h7kanna commented on #146
Hi, I have the same issue. I could use Wire successfully in few projects. But I am finding difficult to explain the alpha status of wire to my team.

[2019-03-18 19:48] zombiezen commented on #134
Closing due to inactivity. Feel free to reopen if you're unable to resolve.

[2019-03-18 19:48] #134 closed

[2019-03-18 20:05] zombiezen commented on #146
Hey folks! Happy to hear the interest. At the moment, we have a few outstanding issues that we want to address before we graduate Wire to beta:

-  **Changes to struct providers:** #36, #32, and #110
-  **Fixing an inconsistency in `wire.Bind`: #120

Once we've fixed those, we are fairly confident we can make future changes in a backward-compatible manner. These changes are fairly minimal, and hop

[2019-03-18 20:10] zombiezen commented on #144
Thanks for the report; sorry for the debugging woes. This is a known consequence of changes made in #83. Rest assured, we don't plan to change the imports again any time soon.

[2019-03-18 20:10] #144 closed

[2019-03-18 22:38] shannontan-bolt commented on #146
@zombiezen Thanks! I appreciate the response, and the transparency. This does address my questions, but I do have one last question.

While I'm sure you can't answer with certainty, is this a project/framework that Google is committed to maintaining in the long run? Is there any dependency on framework usage in the beta version to determine if this will move to 1.0?

[2019-03-19 20:22] zombiezen commented on #146
We are not using usage as a measure of 1.0-ness; we are using stability of API as a measure of 1.0-ness. We have every intention of continuing to maintain Wire, as it is a critical piece of infrastructure for the Go CDK.

[2019-03-19 22:04] shannontan-bolt commented on #146
Got it - great to know! I'm closing this out and watching the releases. In due time, when the beta comes out, I'm sure we'd love to incorporate and contribute as well.

Thanks.

[2019-03-19 22:04] #146 closed

[2019-03-20 14:14] alexmatsak opened #148 "Inject slice of interfaces"
Assume that i have this code
[code]

How can i inject `A` and `B` (which implementing `Counter`) to chain counter with wire ?

[2019-03-20 18:01] zombiezen commented on #148
(I'm assuming `ProvideB` was supposed to return `*B`.)

[code]

[2019-03-20 18:08] zombiezen opened #149 "Create fuzzing harness/tests for Wire"
### Is your feature request related to a problem? Please describe.

In the past, Wire has had issues with panicing on some types of inputs. (I can't find an example PR or issue, but I know that is has had them.) We've fixed them as we've found them, but for wider usage, it would better to find these issues proactively.

### Describe the solution you'd like

We should create a [go-fuzz](https://git

[2019-03-20 18:10] shantuo commented on #148
Actually you only need a `ProvideCounterList`, not the `ProvideChainCounter`.

[code]

[2019-03-20 20:23] alexmatsak commented on #148
thanks!

[2019-03-21 16:01] h7kanna opened #150 "Can at some point Wire become 'go wire' ?"
Hi,
Crazy proposal.
Any plans to consider proposing Wire to be part of go toolchain (https://github.com/golang/tools)

I would really like the command. :)
'go wire'

[2019-03-21 18:01] zombiezen commented on #150
Hello! We have no such plans. The barrier to entering the standard toolchain/library is pretty high, and it doesn't give Wire any benefits over what it can already do with the source analysis packages in `golang.org/x/tools`, the repository you mention.

If you think Wire would make a good addition to the standard toolchain, the right place to start would be [Go proposal process](https://github.co

[2019-03-21 18:01] #150 closed

[2019-03-22 17:57] vangent commented on #8
Another idea is to have `wire.Subtract` be a wire directive, used to wrap a `ProviderSet` in a `wire.NewSet` or a `wire.Build`.

Use cases might be:
1. I want to make a `Set` AB that unions 2 other sets A and B, but there's a type T that's the same between A and B.

[code]
   * Today, you'd get an error that there's two providers for T and you'd be kind of hosed.
   * With `wire.Subtract`, you cou

[2019-03-27 17:49] shantuo opened #151 "Document usage of Struct in the user guide"

[2019-04-11 22:16] pmalekn opened #153 "When using `wire.Set`s they are included in generated code and created a dependency on wire"
### Describe the bug

When using `wire.Set`s they are included in generated code and created a dependency on wire.

### To Reproduce

Write any injector that uses `wire.Set` (using `wire.NewSet()`) and observe that there is a dependency on wire in the generated code and binary built from generated sources (can be checked with e.g. `strings`).

## Expected behavior

There should be no dependency in

[2019-04-12 03:56] lcg635 opened #154 "What should I do when there are multiple instances of a type?"

[2019-04-12 15:36] vangent commented on #154
Does this FAQ help?

[2019-04-13 02:15] lcg635 commented on #154
for example
[code]
@vangent

[2019-04-15 16:03] vangent commented on #154
As the FAQ suggest, you can get rid of the ambiguity using an extra type, something like:

[code]

HTH

[2019-04-15 16:03] #154 closed

[2019-04-16 02:14] lcg635 commented on #154
Got it, thanks. @vangent

[2019-04-23 16:34] vangent opened #157 "deprecation warnings all run together with no newlines"
I also suggest using "Deprecation warning", or "Warning: ... is deprecated and will be removed in the next release; use ... instead".

[code]

[2019-04-23 17:00] #116 closed

[2019-04-23 17:00] #120 closed

[2019-04-23 17:00] #151 closed

[2019-04-23 18:33] zombiezen commented on #153
@pmalekn, is this causing an issue other than having a dependency? The `wire` package intentionally has a small transitive closure of dependencies because provider sets necessarily need to call `wire.NewSet`, and we are very conscious to avoid including new dependencies to this package or otherwise increase code size here.

For context, prototype versions of Wire used comments to declare provider

[2019-04-23 20:27] #157 closed

[2019-04-24 06:56] pmalekn commented on #153
@zombiezen Ok, I believe I've read somewhere that using wire does not involve adding new dependencies but somehow I cannot find it now (obviously).

It's not a problem on its own - I understood from the docs that the outcoming of using a tool to generate code wouldn't have an impact on my dependencies, that's all.

I guess then that this can be closed then.

[2019-04-24 16:51] zombiezen commented on #153
Sounds good. Let me know if you find where that claim is, so we can amend if necessary.

The injector itself does not require runtime support, but calls to the marker functions may be scattered outside the injector body. It's true that this non-zero cost, but it should be negligible and we aim to keep it negligible.

[2019-04-24 16:57] #153 closed

[2019-04-29 20:42] zombiezen opened #160 "Idea: use `go run` in generate line"
[An idea](https://github.com/google/wire/issues/106#issuecomment-472934878) suggested by @steebchen is to use `//go:generate go run github.com/google/wire/cmd/wire` as the automatically inserted generate line for Wire output. This would have the advantage of always using a version of the code generator that's the same as the library being used, at the cost of perhaps some running time.

**EDIT** (

[2019-05-02 07:08] jelito opened #161 "Better message for unused provider"
Hello.
This is my first PR, if there is something wrong, please, let me know.

My code usually looks like this
[code]

When, for example, runtime becomes unused, wire returns this message
`wire.go:1:1: inject Init: unused provider "New`

Is very hard to find which dependency is unused.

There is my suggested solution.  https://github.com/google/wire/pull/162

[2019-05-02 16:57] #161 closed

[2019-05-06 18:02] shantuo commented on #36
Documentation also checked in, this is fixed.

[2019-05-06 18:02] #36 closed

[2019-05-08 10:20] rogpeppe opened #164 ""unknown pattern" is an unhelpful error message"
I was trying to use some newer wire features with an older version of the `wire` command.
I used `wire.Struct`, and the error I got was:

    /home/rog/src/tstwire/wire.go:8:27: unknown pattern

Although, it was correct to report an error, the specific message could be improved by saying what kind of thing is expected in this context, and perhaps by using some term that's defined in the documentat

[2019-05-08 11:22] rogpeppe opened #165 "docs: functions should state clearly where they should be used"
In the [package documentation](https://godoc.org/github.com/google/wire), some functions (Build, for example) are intended to be used only in wireinject-tagged code, but others (NewSet, for example) are intended to be used in regular Go code.

As the distinction between these two kinds of code is probably the hardest aspect of wire to grasp, the documentation should try to make it very clear which

[2019-05-08 11:28] rogpeppe opened #166 "docs: NewSet doc comment isn't accurate"
The NewSet doc comment says , "all the parameters must be of non-identical types", but if we've got (say) two calls to Value, two parameters will be of type ProvidedValue, which are both identical types.

Perhaps there's a better way of saying this?

[2019-05-08 18:09] vangent commented on #164
@shantuo can you take a look?

[2019-05-08 18:09] vangent commented on #165
@zombiezen can you take a look?

[2019-05-08 18:21] vangent commented on #166
In context, the parameters that sentence is referring to are the parameters to a function argument to `NewSet` (not the parameters to `NewSet` itself).

I'll add a word or two to clarify.

[2019-05-09 16:03] poy opened #168 "Copyright Headers"
### Is your feature request related to a problem? Please describe.

When generating code, it would be helpful if `wire` would also grab the copyright header (or at least offer a way to provide one). Otherwise I have to add one after generating the file.

### Describe the solution you'd like

It would be great if `wire` could grab the header from the file with the injectors.

### Describe alternati

[2019-05-09 17:21] zombiezen commented on #165
@rogpeppe, I'm not sure I fully follow how you're making this distinction. IIUC, `wire.Build` is the only such function that needs to be used in a specific place ("wireinject-tagged code") and all the other package functions would be in the other category. The first sentence of `wire.Build`'s godoc currently reads:

I agree there is room for improvement in the documentation, but I'm not seeing yet

[2019-05-10 00:16] vangent commented on #168
There's not necessarily a single file with injectors, is there? For example, https://github.com/google/go-cloud/tree/master/samples/guestbook has multiple `_inject.go` files but a single `wire_gen.go`.

Could you provide more specific links to how those other generators accomplish this?

It looks like `github.com/golang/mock` ([link](https://github.com/golang/mock)) uses a `--copyright_file` argum

[2019-05-10 08:06] rogpeppe commented on #165
Yes, I see you're right now. I was originally thinking that more functions would only make sense in wireinject-tagged code, but I see now that NewSet and friends are intended for export.

The thing that's hard to get one's head around is that you have this code in a normal package (e.g. a call to NewSet) that seems to do nothing, but is important anyway. This is where wire starts to feel like "mag

[2019-05-10 15:42] zombiezen commented on #168
It would be nice if Wire could detect this just from the source files, but a `--copyright_file` flag would be a pretty reasonable way to go.

I also wonder if an option to send generated code to stdout would be okay: then you could have Wire in a pipeline with `cat`.

[2019-05-10 15:47] poy commented on #168
@vangent  k8s.io/code-generator has this: https://github.com/kubernetes/code-generator/blob/e797d15e3d1a5372a1ffa022df4f17dc93adc584/cmd/go-to-protobuf/protobuf/cmd.go#L90 (`--go-header-file`)

[2019-05-10 16:51] eliben commented on #168
A slightly more general approach would be to use a template file with some sort of ``{{generate file here}}`` marker and whatever the user wants around it

[2019-05-10 18:07] eliben opened #169 "Add a way to report wire's version"
You can use `go bug` to have a cool, automatically filled out bug template, or
fill out the template below.

### Describe the bug

I have no straightforward way of knowing which `wire` version I have installed

### To Reproduce

[code]

## Expected behavior

At least some subset of the invocations above should report version

### Version

;-)

[2019-05-10 18:30] shantuo opened #170 "Document that providers of an injector should provide different types"

[2019-05-10 21:11] #166 closed

[2019-05-11 01:23] vangent commented on #168
I'll try adding a command-line flag.

[2019-05-13 16:43] rogpeppe opened #171 "wire: improve command-line docs"
The command-line help for `wire` should at least describe what each command does.
I'd expect `wire help` to show a short description of each command, and for `wire help $command` to describe the given subcommand in more detail.

Currently, the help is minimal:

[code]

[2019-05-13 17:00] eliben commented on #171
Thanks for the report, @rogpeppe
I'm going to dupe this into #62

[2019-05-13 17:00] #171 closed

[2019-05-13 18:40] vangent commented on #12
IMHO we should remove this API surface before Beta; we can always add it later if there is demand.

@zombiezen @shantuo

[2019-05-13 18:42] vangent opened #172 "all: travis test is failing"
[code]

https://travis-ci.com/google/wire/jobs/199342330

[2019-05-13 18:42] #124 closed

[2019-05-13 22:49] shantuo commented on #172
It looks like Travis is using another version of `wire` library to run the tests? I can't reproduce it locally.

[2019-05-14 16:59] zombiezen commented on #12
Why? It's in an internal directory. Removing it would cause code and test restructuring for little gain AFAICT

[2019-05-14 18:45] vangent commented on #12
Ah, you are right -- this bug is about changing it so that the API is public, not the other way around. Removing from Beta....

[2019-05-14 19:51] #62 closed

[2019-05-15 01:06] euclid1990 opened #176 "Struct not declared by package wire"
Hello everyone
I using wire for DI in my project, my code is following:

[code]

But, when I run command:
[code]
It output this error:
[code]
Maybe this line: "wire.Struct(new(services.Container), "Country"),"

Anyone can help me slove this issue ? It seem like wire v0.2.2 does not support `Struct` method ?

my `go.mod`
[code]

The same example : https://github.com/google/wire/blob/master/docs/gui

[2019-05-15 11:35] #165 closed

[2019-05-15 14:52] shantuo commented on #176
Hi, `Struct` is a new feature that is not included in v0.2.2. It will be in the next release. You would need to use master for now if you want to use it.

[2019-05-15 14:52] #176 closed

[2019-05-15 15:55] vangent commented on #176
@euclid1990 -- you can wait until the next release (should be in the next week or two), or until then you can update your `go.mod` file to request a [pseudo-version](https://golang.org/cmd/go/#hdr-Pseudo_versions). For example, something like `go get github.com/google/wire@d76a979` should do it.

[2019-05-16 00:59] euclid1990 commented on #176
@shantuo Ok, thank you for your answer!
@vangent Thank you for your solution, I will try it 👍 ro

[2019-05-16 16:56] #168 closed

[2019-05-17 08:20] orichi opened #178 "how to use the _tutoria demo 'correctly'?"
Hello. I am learning wire.
I tried to run the [demo](https://github.com/google/wire/tree/master/_tutoria) project locally, I have executed wire and generated the wire_gen.go file. When I executed go run main.go, I got an error.
wires/wire_gen.go:10:6: InitializeEvent redeclared in this block
        previous declaration at wires/wire.go:11:45

No error occurred when executing `go run --tags=wirein

[2019-05-17 22:17] shantuo opened #179 "parse: use more robust algorithm to detect wire tags"
We currently does a `strings.Contains` call to match the wire tags, which does not follow same algorithm that the reflect package uses.

[2019-05-17 22:25] shantuo opened #180 "Travis on Window failed: "The process cannot access the file because it is being used by another process""
https://travis-ci.com/google/wire/jobs/201184169

[code]

[2019-05-17 22:32] shantuo commented on #164
I agree, there are three places reporting the same "unknown pattern" error, I'll try to distinguish them into better proper messages.

[2019-05-17 23:02] #140 closed

[2019-05-18 00:26] vangent commented on #178
Hi, thanks for checking out Wire!

Did you add the `//+build wireinject` line, followed by a blank line, in your `wire.go`? That should make it so that `go build` / `go run` don't try to compile that file.

If that doesn't solve your problem, can you paste or attach your `wire.go` file?

[2019-05-18 00:40] vangent commented on #180
That generally means that we opened the file but did not close it.

[2019-05-20 13:50] coolyrat commented on #148
I'm facing a similar question. I'm using gin web framework, and there's a func type call gin.HandlerFunc .  It would be nice to have wire group the types, is there a way to achieve?

[code]

[2019-05-23 01:08] vangent commented on #178
Ping @orichi? I'm going to go ahead and close this issue if I don't hear back.

[2019-05-23 02:01] vangent commented on #148
You need to explicitly group the types yourself; there is no way for `wire` to know which `gin.HandlerFunc`s to include otherwise.

So you can either do:

[code]

(this is similar to the original example given [here](https://github.com/google/wire/issues/148#issuecomment-474964848); you may need to add a `wire.Struct` provider as described there).

OR

[code]

The first option is probably better f

[2019-05-23 02:05] coolyrat commented on #148
thanks for making this clear! I will go for the first option =D

[2019-05-24 11:34] zombiezen opened #182 "wire.NewSet does not generate any code in the wire_gen.go file"
From @GarimaBathla on golang/go#32217:

[2019-05-24 14:25] alexmatsak commented on #148
Is it possible to inject **nil** to  interface param?

For example
[code]

Try to use `wire.InterfaceValue(new(io.Reader), nil)` but got error that _nil_ doesn`t implement _Reader_ interface

[2019-05-25 14:21] rogpeppe opened #183 "show: do not always print ANSI escape sequences"
The `wire show` command always prints ANSI escape sequences to make the output coloured.
This is not appropriate when the terminal is not ANSI (for example, I usually use `TERM=dumb`) or when the command is being piped into another command.

[2019-05-25 14:35] rogpeppe opened #184 "wire: allow function literals to be used as provider functions"
Related to #7 but not quite the same. The documentation for NewSet says that the argument can be a function value. A function literal is a function value, and so should be allowed by that rule, but cannot be used:

For example, this code yields an "unknown pattern" error.

	var fwire = wire.NewSet(
		func() string {
			return "x"
		},
	)

It shouldn't be hard to support function literals (and meth

[2019-05-25 14:42] rogpeppe opened #185 "wire: do not use global variables for all wire.Value expressions"
One of the specific advantages of the wire approach is that it generates code that's relatively readable compared to reflect-based equivalents. When `wire.Value` is used on a small by-value type, there's no need for the value to live in a global variable - the expression could instead be used literally inside the generated code, which would make the code easier to follow, and more similar to the c

[2019-05-25 19:54] #178 closed

[2019-05-28 07:13] myyk commented on #110
Should this be closed? A change has been merged to address the issue.

[2019-05-28 17:46] vangent commented on #182
Hi @GarimaBathla,

Only `wire.Build` will result in `wire` generating code. A `ProviderSet` is just a way to group provider functions that are often used together.

For example, assume that `func Foo() *Foo` is a provider function that provides a `*Foo`, and that `func Bar(foo *Foo) *Bar` is a provider function that provides a `*Bar` given a `*Foo`. You could write an injector function with `wire.

[2019-05-28 17:46] #182 closed

[2019-05-28 18:17] vangent commented on #183
@rogpeppe thanks for the report -- fix is on the way.

[2019-05-28 18:37] vangent commented on #148
Try `wire.InterfaceValue(new(io.Reader), io.Reader(nil))`.

[2019-05-28 18:37] #148 closed

[2019-05-29 12:01] srenatus opened #187 "Providers from interfaces?"
### Describe the bug

When using `wire` on the following example code, it will fail:

### To Reproduce

[code]
...with
[code]

## Expected behavior

It would have been nice if `wire` had figured out that the `Fooer` interface has a provider for `Thing`. **Alternatively**, there might just be something I've missed -- What do I need to add to the `wire.Build` call to make this work? 😃

### Version

[2019-05-29 15:39] vangent commented on #187
I think you can get this to work by adding a new provider for `Thing` given a `Fooer`:

[code]

I don't think it's feasible to treat all interface methods (or, more broadly, all methods) as providers. They are too likely to conflict (e.g., two methods that both return `string`).

[2019-05-29 15:51] srenatus commented on #187
Is this so dissimilar from the struct case? Where either any selected struct field (or "*", all of them) can be marked as providers?

Just wondering 😃

[2019-05-29 16:01] zombiezen commented on #110
@shantuo, are we still waiting for a doc change here?

[2019-05-29 16:04] vangent commented on #187
Ah, I forgot we added `FieldsOf`. @shantuo / @zombiezen care to comment about whether it would be feasible to do something similar for interfaces?

[2019-05-29 18:28] shantuo commented on #110
That's correct, I'm going to add it to the guide.

[2019-05-29 18:34] rogpeppe commented on #187
I think this case would probably be covered by #7 - you could add `Fooer.MakeThing` to the `Build` call and it would act as a suitable function for making a Thing given a Fooer.

This is arguably related to a case I've been thinking about: function-valued field values as providers, but I think that's enough different that I'm going to raise another issue for that.

[2019-05-29 18:46] #183 closed

[2019-05-29 18:46] rogpeppe opened #188 "wire: support function-typed struct fields as providers"
Currently, we can use FieldsOf to use field values directly as providers, but there's no way AFAICS to use function-typed fields as providers.

For example, this doesn't work:

[code]

We probably don't want `FieldsOf` to support this non-explicitly, because function values are perfectly good types in themselves, but perhaps a separate wire function might work; say `FuncFieldsOf` or `ProviderField

[2019-05-29 19:19] vangent opened #189 "wire: consider dropping color support in "show""
It pulls in several dependencies, and doesn't seem that necessary.

@zombiezen thoughts?

[2019-05-29 19:20] vangent commented on #189
/cc @rogpeppe

[2019-05-29 20:07] zombiezen commented on #189
I do like the feature (in that it does make the output significantly easier to scan), but I don't think it outweighs the dependency bloat. The functionality isn't super hard to replicate, could we just roll back the change to use fatih/color?

[2019-05-29 20:38] rogpeppe commented on #189
Another possibility might be to have a way of producing HTML output or similar.

[2019-05-29 20:48] vangent commented on #189
I will roll back the change to use `fatih/color`.

I think I'd prefer to remove color entirely rather than try to get color working well (i.e., on Windows, and depending on the terminal).

[2019-05-29 21:14] GarimaBathla commented on #182
@vangent Thanks! makes sense.

I had wire.Build in individual provider functions.. but my main function ProvideClients that actually wires everything together I only had wire.NewSet - I should have wire.Build of wire.NewSet to get it resolved. Thanks!!

[2019-05-29 21:40] rogpeppe opened #191 "allow multiple instances for a single type"
I've been working on ideas for migrating some of our dependency injection code to using wire, and one awkwardness is when a service depends on a set of heterogeneous components that all implement the same interface.

I could see this kind of issue arising various kinds of value (for example with an HTTP server that composes a bunch of different handlers into a single handler), but this particular

[2019-05-29 22:02] #189 closed

[2019-05-30 03:25] myyk opened #192 "wire: specify output file to generator"
I would like to be able to generate wire files to something not called `wire_gen.go`. In my code base the convention for generated files is `z_foo.go`, so being able to specify the name would give me flexibility without extra commands to move the file after generation each time.

If the generator could be run with an extra argument like `-o z_wire.go` which would put the file in the same directory

[2019-05-30 08:47] rogpeppe opened #193 "wire: support Close methods"
It's common for constructor functions to return values that have a Close method that's used to clean up the value's associated resources. This doesn't fit easily with the convention used by wire of using a `func()`-typed return value. This means it's always necessary to add an adaptor function that returns a cleanup function that calls the Close method.

As a possible feature, it might be possible

[2019-05-31 15:50] zombiezen commented on #187
I agree with @rogpeppe: #7 is the right fix for this. Interface methods are valid for [method expressions](https://golang.org/ref/spec#Method_expressions), so the `wire.Build` call in the above example would become:

[code]

[2019-05-31 15:53] srenatus commented on #187
Thanks! Closing in favor of #7 then.

[2019-05-31 15:53] #187 closed

[2019-06-03 21:00] #179 closed

[2019-06-03 23:08] shantuo commented on #184
Thanks @rogpeppe for the suggestion! This needs some design work we want to at some point revisit. We think this might provide shortcuts as an alternative to the use cases described in #188 and #193 . Meanwhile, if there is any example of an actual use case you have please feel free to post as we consider the design.

[2019-06-03 23:36] shantuo commented on #188
This changes the semantics of `FieldsOf` and add complexity. Maybe once we get to #184 it will make this use case easy and straightforward enough? Closing this, but feel free to reopen it for further discussion.

[2019-06-03 23:36] #188 closed

[2019-06-03 23:37] shantuo commented on #191
Thanks @rogpeppe for the write-up! We did in the past got similar types of feature request and we'd like to revisit this issue and do some design work.

[2019-06-03 23:41] shantuo commented on #192
Thanks @myyk for the feature request! This is definitely useful. However, `-o` might not be feasible if wire is generating more than one files (when there is injector in the test files). `--prefix` might be the way to go.

[2019-06-03 23:48] shantuo commented on #193
As mentioned in #184 , this could be achieved by an anonymous cleanup function.

[2019-06-04 05:54] rogpeppe commented on #193
#184 is about provider functions, not cleanup functions. We can already have anonymous cleanup functions:

     func newFoo(a *A, b *B) (*somePkg.Foo, func(), error) {
          foo, err := somePkg.NewFoo()
          if err != nil {
              return nil, nil, err
          }
          return foo, func() {
              foo.Close()
           }, nil
     }

but you have to write this kind of wr

[2019-06-04 05:59] rogpeppe commented on #188
Yes, #184 would make this a little easier because you could do:

     panic(wire.Build(
          wire.Value(fooer),
          wire.FieldsOf(new(Fooer), "MakeThing"),
          func(f func() Thing) Thing {
               return f()
          },
      ))

but this could end up fairly repetitive when there are many such fields.

[2019-06-04 15:47] vangent commented on #193
Hi @rogpeppe -- can you just add a function to do the wrapper?

E.g.,

[code]

and then

[code]

This seems simpler than adding a new `wire` function, and gives you access to the `error` returned by the `io.Closer` in case you want to log it or something.

[2019-06-04 15:48] vangent commented on #193
(reopening while we discuss)

[2019-06-05 03:35] busgo opened #194 "unsupported version of go?"
wire: unsupported version of go: exit status 2: flag provided but not defined: -compiled
        usage: list [-e] [-f format] [-json] [build flags] [packages]
        Run 'go help list' for details.

--------------------------------------------

appledeMacBook-Pro:_tutorial apple$ wire
wire: unsupported version of go: exit status 2: flag provided but not defined: -compiled
        usage: list [-e]

[2019-06-05 03:38] vangent commented on #194
`go version` ?

Does `go build` work?

[2019-06-05 08:11] busgo commented on #194
appledeMacBook-Pro:_tutorial apple$ ls
README.md       _tutorial       main.go         wire.go         wire_gen.go
appledeMacBook-Pro:_tutorial apple$ wire
wire: unsupported version of go: exit status 2: flag provided but not defined: -compiled
        usage: list [-e] [-f format] [-json] [build flags] [packages]
        Run 'go help list' for details.

wire: generate failed
appledeMacBook-Pro:_tu

[2019-06-05 18:45] vangent commented on #194
It looks like you are using `go 1.10`. The current stable version is `go 1.12`; I suspect that the library that `wire` uses to do code analysis (`golang.org/x/tools`) only supports the latest stable version and the previous one.

Try updating to a more recent version of `go`....

[2019-06-07 22:04] zombiezen commented on #185
The reason we have the semantics we have now for `wire.Value` is that we want to be confident that the expression will evaluate to the same value that was expressed at the `wire.NewSet`'s evaluation. This keeps the behavior of `wire.Value` largely unsurprising, and amenable to usage in a runtime DI version if needed at some point.

It sounds like the request here is that the generated code in some

[2019-06-08 03:17] rogpeppe commented on #185
Yes, but it's not just about efficiency. One of the selling points of wire is that the generated is a readable representation of the dependency setup. This is one thing that makes the code less idiomatic/readable

[2019-06-10 14:27] rogpeppe commented on #193
@vangent AFAICS that's exactly the approach that I alluded to in the issue description:

This is not very convenient as it means you'll have to essentially duplicate the signature of the function being provided and change it every time the function changes. It's that inconvenience that prompted me to create the issue - it's a pain point that makes it a little harder to sell wire as a convenient de

[2019-06-10 15:14] vangent commented on #193
Sorry, can you clarify what you mean by that? Is it that you have a constructor function that creates a `*somePkg.Foo` but doesn't return a `func()`, and so you have to create a new function with a similar signature just to call that constructor and return the additional `func()`? Do you not want to change the original constructor function to add the `func()` return?

IIUC, we originally considere

[2019-06-11 10:26] busgo commented on #194
I has give up use  wire !

[2019-06-11 10:26] #194 closed

[2019-06-11 17:09] zombiezen commented on #185
Agreed. To be clear: I think this is a good idea, but we don't have bandwidth to fix it right now. Happy to review PRs to fix.

[2019-06-11 22:35] #110 closed

[2019-06-17 17:34] zombiezen opened #196 "Document wire.Struct's first argument form"
In particular, I am confused as to whether the first argument permits a struct value (`Foo{}`), or only a struct pointer (`new(Foo)`).

[2019-06-18 00:27] #196 closed

[2019-06-18 20:12] shantuo commented on #172
I think this is related https://travis-ci.community/t/issue-pr-build-using-wrong-commit-entirely-migrated-from-github/1153

Reopen to track.

[2019-06-20 00:07] mickeyreiss opened #200 "Cleanup timeouts"
## Problem Statement

In production, dependencies can misbehave in unexpected or unchecked ways. For example, a database module could fail to initialize quickly due to network error, or a provider could loop infinitely due to programmer error.

In any case where the particular module is coded to block, rather than fail fast, this can lead to an entire application failing to start up (or shut down)

[2019-06-20 16:31] zombiezen commented on #200
Startup timeouts are already covered by passing a `Context` into the injector function, and we expect this to work today.

Shutdown deadlines are more complex. @rogpeppe and I discussed this in a private thread a little while ago. Paraphrasing his points for posterity:

One could imagine a change to Wire to permit a `Context` being passed to cleanup functions. However, this seems difficult in the

[2019-06-20 18:16] mickeyreiss commented on #200
Thanks for sharing the context, @zombiezen.

We'll go with this pattern for now.

I do think there's something to be said for protecting programmers from error cases: What if a "major" module starts (for example, the API server), but a "minor" one never does (for example, a background job runner) due to a provider silently hanging?

Perfect. Thanks for considering the request.  :+1:

[2019-06-20 19:15] zombiezen commented on #200
From my experience, the best practice here is that servers should start up as quickly as possible (nothing I/O-bound), but report unhealthy in its readiness checks until all critical ("major" in your description) dependencies are available. Requests made to a server before that point will likely error if they depend on critical dependencies or serve degraded results if they depend only on the opti

[2019-06-21 09:41] gracenoah opened #201 "panic in related to Bind with a pointer"
### Describe the bug

Panic when running `wire ./...`

### To Reproduce

Sorry, I can't give a specific repro because
1. I worked around it as soon as I ran into it
2. There's a lot of proprietary code involved and it would have been pretty hard to isolate

The error was related to a bind statement:
[code]
I don't know what was unusual about this bind statement. There was New function that returns

[2019-06-24 20:17] zombiezen commented on #146
Hey @shannontan-bolt and @h7kanna! If you didn't see, we announced [Wire as beta](https://github.com/google/wire/releases/tag/v0.3.0) last week. Please file issues if you encounter any issues. Cheers!

[2019-06-24 21:37] shannontan-bolt commented on #146
@zombiezen - thanks so much!

[2019-06-24 22:19] vangent commented on #201
@shantuo 	can you take a look? Maybe add a new testcase with this?

[2019-06-24 22:46] shantuo commented on #201
Hi @gracenoah , is your `Interface` a Go built-in type?

[2019-06-25 08:49] gracenoah commented on #201
In this example Interface is an interface with some methods. I really don't know what's special about it because the panic happens in this one scenario, but I've used wire.Bind elsewhere without it panicking. Sorry that I can't be more helpful.

[2019-06-25 20:16] shantuo commented on #201
No worries, from what I can tell in the stack trace you provided, I don't think this is a bug in `Bind`, but maybe in `NewSet`, as the panic happens while it is processing the out layer `NewSet` function. Also, the panic happens when it is trying to get the import path of one of the providers in your argument list you are passing into `NewSet` by calling `"go/types".Object.Pkg().Path()`, the `Pkg(

[2019-06-25 23:17] j4ng5y commented on #185
I'll take a stab at this.

[2019-06-26 07:41] gracenoah commented on #201
I think you might be right. I tried to reproduce the issue again by adding back the Bind an changing the constructor to return the struct type and I couldn't. Since, this is all the information we have, I'd be happy with a fix that just adds a better error message whenever this edge case is triggered. Hopefully if it happens again, the error will help me understand the source of the issue.

[2019-07-03 10:19] anton-dessiatov commented on #201
It happened to me when I forgot a ```wire.Struct``` call. I have created a provider like this:
[code]
instead of
[code]

[2019-07-12 20:49] poy opened #202 "--header_file flag is not in generated codeg"
### Describe the bug

When using the `--header_file` flag the resulting generated file has the following go generate line:

[code]

This implies when someone later runs `go generate ./...`, the header file that was originally in the file will be removed.

### To Reproduce

[code]

## Expected behavior

After running wire with the `--header_file` flag, running `go generate` again would not produce

[2019-07-12 23:26] vangent commented on #202
How would you expect this to work? Would you want wire to emit something like

[code]

? That path may not exist for a subsequent call to `go generate`....

[2019-07-13 01:02] poy commented on #202
I think I would want that or an option to not include the go generate line

[2019-07-15 23:18] vangent commented on #202
WDYT about always omitting the `//go:generate wire` line if a header is provided? It seems like a signal that the user is not actually using `go generate` to generate the file, but some other script/process.

[2019-07-15 23:18] vangent commented on #202
@zombiezen

[2019-07-16 18:28] zombiezen commented on #202
I am bit concerned to add too much logic here: folks that use Wire in complex builds should likely be using a tool more sophisticated than `go generate`.

[2019-07-18 05:50] poy commented on #202
Does that imply the go generate line should be removed from the generated output?

[2019-07-21 18:29] h7kanna opened #204 "wire: Add wildcard(*) to wire.FieldsOf"
### Is your feature request related to a problem? Please describe.

When many struct fields from a Configuration should be injected into different components, wire.FieldsOf will have a long list of field name strings.

Example:
[code]
### Describe the solution you'd like
Provide wildcard convenience.
[code]
This way we can inject configuration easily.

### Describe alternatives you've considered

[2019-07-23 19:20] vangent commented on #204
A problem with this proposal is that an otherwise backwards-compatible change to the struct can be a breaking change for the Wire set, by adding a new field with a type that's already present in the Wire provider set.

IIUC, that's why we chose to make it explicit which fields of the struct are providers.

[2019-07-29 22:02] h7kanna commented on #204
@vangent Yes, it does add breaking change for the wire set. Do you think it is still relevant for config structure which only has unique types as fields? or else I will close this issue.  Thanks

[2019-07-29 22:29] vangent commented on #204
If you're guaranteed that your config struct has only unique types as fields, then it would be harder to make a breaking change, but it could still happen; e.g., a `wire.Build` that explicitly includes a `Logger` type, but later the `Logger` type is moved into the `Config` struct.

Unfortunately, we'd either have to add this feature or not.

You can always make a `ProviderSet` that includes all of

[2019-07-29 23:26] #204 closed

[2019-08-03 18:51] djui commented on #42
That would be very nice!

[2019-08-03 18:58] djui opened #205 "How to express conditional dependencies"
This is not an actual feature request, but rather a question how to use Wire with conditional dependencies:

I have a project which loads a configuration and then based on the configuration values, I want to instantiate different implementations (often for the same interface, but sometimes also just create different business logic or even cause side-effects).

My current best approach is to have a

[2019-08-05 16:34] vangent commented on #205
Since `wire` works via code generation, it doesn't have any explicit support for conditional behavior.

A couple of ideas that might help:

1. You could pass the configuration around everywhere, and apply the conditionals in your provider function(s). For example, if you have a provider that creates your client, it might look something like:

[code]

2. You could always start with the same depende

[2019-08-05 20:12] djui commented on #205
Thanks for the patterns. I think actually both will be applicable, depending on my use cases.

[2019-08-05 20:12] #205 closed

[2019-08-06 11:44] J7mbo opened #206 "Multiple bindings for string"
Hi, I expect this to be a simple problem to solve.

I have two structs, one `Controller` and one `Dependency`, and a factory for each struct. Each factory function takes a single string as a parameter. I'm trying to initialise the first struct with the second struct as a dependency, both of which require a string.

[code]

Here's my `wire.go`.

[code]

I am new to this library and I don't know how

[2019-08-06 15:10] Hartimer commented on #206
Wire does not support multiple bindings of the same type, in this case string.

You'll have to create a type alias for at least one of those strings in order to disambiguate.

[2019-08-06 15:53] vangent commented on #206
@Hartimer is correct. There is a FAQ about this as well:
https://github.com/google/wire/blob/master/docs/faq.md#what-if-my-dependency-graph-has-two-dependencies-of-the-same-type

Hope that helps!

[2019-08-06 15:53] #206 closed

[2019-08-06 16:34] J7mbo commented on #206
Cheers guys!

[2019-08-16 19:44] fzerorubigd opened #207 "Idea: Provide array with multiple provider"
### Is your feature request related to a problem? Please describe.

I have several controllers that I want to create. These controllers all implement the `type XX interface` but are from different classes. Currently, I must create one function for each controller, and then call them one by one to create an array of controllers and then pass this array of controllers to the router package.
The issu

[2019-08-26 16:56] alethenorio opened #208 "Allow `FieldsOf` to provide a pointer type"
### Is your feature request related to a problem? Please describe.

I am trying to wire a non-pointer field from a struct to a provider which requires a pointer of the same type

Consider the following
[code]

I am unable to wire the `UserConfig` field in my `Config` for the `InitializeUser` provider without writing a wrapper provider by hand.

### Describe the solution you'd like

`FieldsOf` shou

[2019-08-27 06:28] alethenorio commented on #208
The issue with `FieldsOf` providing a pointer which is provided somewhere else is no different than attempting to provide `Foo` both through a `FieldsOf` provider and a "normal" provider right?
Coincidentally enough I also tried using the "&UserConfig" notation when trying to figure out why I wouldn't get a pointer with no luck so the idea is valid as well

[2019-09-04 00:08] zombiezen commented on #208
(Sorry, meant to get to this over the weekend but I fell ill.)

I think either of the options is fine, but I think that is important that the pointer variant is only allowed if the provided struct is of a pointer type. So this would work:

[code]

but this shouldn't:

[code]

Reason being, it would be incorrect for the address of the field to be nondeterministic (addressing from a temporary), vers

[2019-09-04 17:11] vangent commented on #208
Good point @zombiezen . I'll send a PR to limit the pointer-to-field to cases where the struct type is a pointer to a struct.

[2019-09-05 17:51] vangent opened #211 "wire: support go 1.13"

[2019-09-05 18:50] #211 closed

[2019-09-05 21:17] #208 closed

[2019-09-10 17:26] vangent commented on #207
Thanks for the suggestion!

`wire` generally does not work well with multiple providers of the same type:
https://github.com/google/wire/blob/master/docs/faq.md#what-if-my-dependency-graph-has-two-dependencies-of-the-same-type

I suspect you're best off writing a single constructor that takes the concrete types as arguments (each concrete type implementing the interface, but use the concrete type

[2019-09-17 16:54] OscarHanzely opened #214 ""multiple bindings for *invalid type""
### Describe the bug

I am actually not 100% sure this is a pure bug of mis configuration, but since I googled and asked at some places and was not provided with any suitable answer I believe it is unexpected behavior. Let me explain: once in a while wire complains about the error on type that is for some reason now visible to it. This scenario is particularly weird, because it seems to treat two

[2019-09-17 17:40] vangent commented on #214
Thanks for the report. More than likely this is a misconfiguration, but `wire` should give a better error message.

* Does this still happen if you upgrade to wire `v0.3.0` ?
* Is there any relationship between `livemediaobject.PostgresSQLConfig` and `livemediaobject.HandlerConfig`, or are they just independent structs?
* Can you please include your `wire.Build` (near `config.go:50`)?

If you coul

[2019-09-25 16:00] #192 closed

[2019-09-27 06:40] xwjdsh commented on #202
`--output_file_prefix` has the same issue.

[2019-09-28 18:30] josgilmo commented on #214
I'm having a problem related with the upgrade of wire.

I created the situation in a repository [https://github.com/josgilmo/wire-issue-214](https://github.com/josgilmo/wire-issue-214). With this wire configuration, if I build the birany wire with the tag v0.2.2 it works without problem, but with the binary generated with master it give me the error:

``
wire: /Users/josegil/go/src/github.com/josg

[2019-09-28 18:40] vangent commented on #214
@josgilmo -- that doesn't seem to have anything to do with this issue, can you please file a new one?  https://github.com/google/wire/issues/new

[2019-09-30 06:39] josgilmo commented on #214
@vangent yes!

[2019-09-30 06:44] josgilmo opened #215 "Wire 0.3.0 not pass implementations of some interfaces in Bind."
After the upgrade of the wire library I'm having reported errors that I didn't have in the previous version.

I reproduce the situation and created a small github repository: [https://github.com/josgilmo/wire-issue-214](https://github.com/josgilmo/wire-issue-214)

The error reported by wire it's:

`wire: /Users/josegil/go/src/github.com/josgilmo/wire-issue-214/wire.go:28:2: github.com/josgilmo/wir

[2019-09-30 15:48] vangent commented on #215
This was a breaking change in `v0.3.0`;  see the [release notes](https://github.com/google/wire/releases/tag/v0.3.0), from #120.

"The first argument to wire.Bind is a pointer to a value of the desired interface type and the second argument is a pointer to a value of the type that implements the interface. "

[code]

and you need

[code]

HTH

[2019-09-30 15:48] #215 closed

[2019-10-01 06:24] josgilmo commented on #215
Thank you very much @vangent! It helps a lot!

[2019-10-04 13:10] phroggyy opened #216 "[Feature] Support conditional bindings"
### Is your feature request related to a problem? Please describe.

When building applications, we might want to support different database drivers, e.g using Go CDK and using the in-memory docstore for development, and mongo or firestore for production. For the scenarios, it would be useful if there was a way to conditionally generate code.

This does reduce flexibility, but eases development, es

[2019-10-04 13:23] eliben commented on #216
Thanks for the suggestion @phroggyy
I'll keep this issue open as a feature request, but we consider wire feature-complete at this point and will not be adding features. We want it to stabilize and will fix bugs, but there's value in a *simple* tool that doesn't have too many capabilities and just does the job.

[2019-10-04 15:48] vangent commented on #216
If you want conditional behavior at compile time, consider using Go's build tags: https://golang.org/pkg/go/build/. I.e., you could use `wire` to produce both configurations, and only include one of them in your build.

[2019-10-17 20:31] worming004 commented on #178
I encountered the same issue. For the one who also reach this issue, be aware that line `//+build wireinject` have to be the very first line of the file, above the package. And as @vangent  explain, do not forget the blank line between this comment line and package.
This solution work for me

[2019-10-18 22:09] deafgoat commented on #66
For anyone who might still be running into this, I eventually compiled from the tip of master - where [this commit](https://github.com/golang/go/commit/1dd71645558157f2d4477f21c6e9f18a99b0bc94) - that  includes details in errors from cache operations exists.

Afterwards, I got a new error:
[code]
Which suggested that the issue might be related to file permissions associated with the `Cache` direct

[2019-10-18 22:14] cespare commented on #66
@zombiezen the Go bug was fixed for Go 1.13. This shouldn't be happening anymore. (I checked that the repro no longer fails.)

[2019-10-18 22:24] deafgoat commented on #66
Interesting. @cespare I ran into the issue when using both Go 1.12 and Go 1.13. Perhaps the cause of the error in my case was different from what others were observing.

[2019-10-19 16:31] zombiezen commented on #66
Excellent, thank you! I'll take a look at getting the tests running in parallel again.

[2019-10-25 22:00] #66 closed

[2019-10-28 02:38] shaunc commented on #207
@fzerorubigd @vangent Vangent's example could be done with `wire.Struct` as well, right? I wonder if one way to implement a slightly more flexible feature in an idiomatic way would be a `wire.Slice` (or `wire.Array`) helper that functioned like `wire.Struct` but for an indeterminate number of things of the same type.

In my case, I am trying to write a "Dataset" library which could be backed by ei

[2019-10-30 07:06] gracenoah commented on #201
Just got a very similar looking panic. This is the exact repro:

[code]

[code]

[2019-11-10 17:45] zombiezen opened #219 "Panic when calling wire.Struct with a non-struct first argument"
Code like this:

[code]

causes a panic like this:

[code]

_Originally posted by @gracenoah in https://github.com/google/wire/issues/201#issuecomment-547765661_

[2019-11-10 17:47] zombiezen commented on #201
@gracenoah and @anton-dessiatov, it seems like that `Struct` issue is unrelated to @gracenoah's original issue with `Bind`. I wasn't able to find anything more on that particular failure, but I have a fix ready for the other issue. I've opened #219 to track the `Struct` issue.

[2019-11-11 04:48] gracenoah commented on #201
Thanks for investigating and making a separate issue.

[2019-11-11 19:06] #219 closed

[2019-11-12 09:37] mohammadshamma opened #221 "Bazel rule for generating injectors"
It would be great if Wire would work out of the box with Bazel.

There could be a "go_wire_injector()" build rule that takes the source of the file containing the injector and generate a library that could be included as a dependency elsewhere. The generated file could be left out uncommitted in the source code repository (similar to how proto rules work).

[2019-11-13 17:39] zombiezen commented on #221
Hey Mohammad. We've discussed this in the team in the past, and the conclusion we came to at the time is that Bazel's model of needing to know the precise set of dependencies for the generated code is at odds with Wire's model of being able to strip unneeded dependencies in the resulting code. However, it would be nice to have a guide or documentation on how to use Wire correctly with a Bazel proj

[2019-11-13 19:07] jayconrod commented on #221
I think the issue was that we don't really know at analysis time (before reading source files) what the imports will be in the generated go files. Is that roughly correct?

If we have an upper bound on that set of imports, for example, all transitive imports of a set of explicit dependencies, it could probably work.

[2019-11-13 19:43] zombiezen commented on #221
Correct.

Yes, it is guaranteed that Wire's generated file will not import anything outside of its transitive imports. I think there may have been some additional concerns for inside-Google-Blaze, but I forget what they were.

[2019-11-14 11:14] maratori opened #222 "Missed return statement in generated code"
### Bug description

Wire generates broken code. It generates function body without return statement.

### To Reproduce

Run `wire` with following file
[code]

It will generate following file
[code]

## Expected behavior

Wire should generate following file
[code]

### Version

github.com/google/wire v0.3.0
go version go1.13 darwin/amd64

[2019-11-14 17:19] zombiezen commented on #222
Thanks for the bug report! Expect a fix in the next week or so.

[2019-11-26 10:25] authhwang opened #224 "Get error message "undefined: InitializeEvent " in tutorial"
### Describe the bug
I had copy tutorial code and run "wire" in ternimal. After getting "wire_gen" file, i ran "go run main.go" or "go build main.go" and it alway show a error message.
[code]
Am i loss any step or params during wire?

### Version

go 1.13.4
wire v0.3.0

### Additional context
main code
[code]
wire.go
[code]

[2019-11-26 10:45] authhwang commented on #224
miss any step or params...  sorry for my english (T^T

[2019-11-26 11:28] authhwang commented on #224
wire_gen.go
[code]

[2019-11-26 21:12] shantuo commented on #224
Hi! Note that `wire_gen.go` is also part of the main package, so you could either do `go build` or `go build main.go wire_gen.go`. Both would work!

[2019-11-26 21:12] #224 closed

[2019-11-27 14:50] authhwang commented on #224
thanks for your reply @shantuo

[2019-11-27 23:23] #222 closed

[2019-11-29 07:25] jstncbllr opened #225 "capabilities akin to Provider / Lazy from dagger"
### Is your feature request related to a problem? Please describe.

It's difficult currently to use wire for conditional bindings or to delay instantiation of a bound type.

I'm thinking along the lines of [dagger's support](https://dagger.dev/users-guide#bindings-in-the-graph) for [`Provider`](http://javax-inject.github.io/javax-inject/api/javax/inject/Provider.html) and [`Lazy`](https://dagger.d

[2019-11-29 16:03] zombiezen commented on #225
Hey Justin. We've mulled this over in the past, and the solution we've come back to in these cases is to stand up a small type that's a provider, since there's a lot of different strategies for how to handle an expensive object. I'm not sure whether there's any API that would be as clear or clearer than writing the provider directly.

Consider something like:

[code]

(If and when we address #7, i

[2019-12-02 15:47] titpetric opened #226 "wire.ProviderSet is not a provider or a provider set"
[code]

Results in an error like:

[code]

I'm not sure what's wrong here. The wireSet provided is directly a result of calling wire.NewSet(providerFunc). How can I pass a ProviderSet to the injector?

[2019-12-02 15:51] zombiezen commented on #226
Can you also include the code that declares and initializes `wireSet`?

[2019-12-02 15:52] titpetric commented on #226
[code]

[2019-12-02 16:00] zombiezen commented on #226
Thanks! Wire intentionally doesn't support passing in provider sets dynamically in the way that you're trying to use it. In order for Wire to generate code, it needs to know at code generation time how it's going to resolve the dependency graph. Taking in a provider set would require knowledge at runtime, which would make Wire significantly more complex. I'm going to close this issue out, because

[2019-12-02 16:00] #226 closed

[2019-12-02 16:09] titpetric commented on #226
So if I understand correctly, I can only pass a ProviderSet via context (e.g. package-level var?). I don't understand the restriction or more accurately, how I can provide a *sqlx.DB without having a function that provides an sqlx.DB? Within the scope instead of an argument?

[2019-12-02 16:24] titpetric commented on #226
Aight, promoted the `getDB` into public package scope, and passed it directly into wire.Build. Thanks.

[2019-12-02 16:31] titpetric opened #227 "Feature request: ignore unused provider set"
Currently if a provider set is unused, an error is printed and code generation fails.

[code]

If there is no need to satisfy a structure provided by the set, the code generation could just omit the set either by default or by an extra flag. Not all providers within a set need to be invoked/provide values, so it makes sense that valid providers within a set can be len()==0, not >0

[2019-12-02 16:35] titpetric commented on #227
The current work-around is to create a package which merges all your ProviderSets in a single NewSet, code generation does work after that change (but I'd rather drop that package completely).

[2019-12-02 20:01] jstncbllr commented on #225
Thanks Ross, that makes a lot of sense.  It seems to me this potentially could also lead to support for singleton vs not (just remove the `Once` to make `A` not a singleton).

In your code above, I do wonder if there may be dragons here:
[code]
Because other parts of the graph may share dependencies with `A`, but we wouldn't want any of those dependencies to be instantiated unless we're sure that

[2019-12-06 15:30] robfig commented on #221
We have an internal bazel rule for running wire, by setting up a GOPATH using the go_path rule and running the usual wire binary.
https://github.com/bazelbuild/rules_go/blob/master/go/private/tools/path.bzl#L155

It works, but it is really really really slow. Slow to the point of developers removing usage of wire because it extends the build by minutes.

Looking into it now, we could try `go_path.

[2019-12-06 21:03] zombiezen commented on #227
Much like Go's general philosophy of erroring for unused variables or imports, this is working as intended in Wire. Partially used sets will not yield errors, but wholly unused sets will.

[2019-12-06 21:03] #227 closed

[2019-12-11 02:29] gilcrest opened #229 "Update version to v0.3.1"
Not a bug really, but a question - sorry if this is the wrong arena... Wire is currently v0.3.0 and has had 11 commits since this release, most of which are bug fixes. Are you planning to release v0.3.1 any time soon? I know I can get these fixes using modules by deliberately go getting master, but I'm not sure why you're waiting to bump the release to v0.3.1 - are these fixes not release-ready in

[2019-12-11 18:23] zombiezen commented on #229
Thanks for the nudge! We don't have a regular release cadence and we hadn't realized how much had gone in since 0.3.0. [v0.4.0](https://github.com/google/wire/releases/tag/v0.4.0) is ready for download!

[2019-12-11 18:23] #229 closed

[2019-12-11 19:44] gilcrest commented on #229
Thanks!

[2019-12-29 15:33] siddharths067 opened #235 "Cannot get Wire in GoLand Module?"
While installing the GoLand Module, The verbose output is like this and the installation doesn't proceed

[code]

[2020-01-01 19:07] zombiezen commented on #235
Can you elaborate on what you did to try to install Wire? It would be helpful to know what command line was being run.

[2020-01-16 04:42] zombiezen commented on #235
I'm closing this out since I haven't heard anything back.

[2020-01-16 04:42] #235 closed

[2020-01-17 17:10] MetalRex101 opened #237 "What about flexible mocking?"
Let's imagine, we have an application with a lot of business logic and big amount of abstraction layers. This application could make calls to external (for example http) services. When it comes to functional testing, we want to mock our caller service and control response it will return to us
. The rest of application should work in its normal mode.

When we have some kind of IoC container, we cou

[2020-01-19 16:27] zombiezen commented on #237
I'm not sure I understand the question, but have you looked through [the guide](https://github.com/google/wire/blob/master/docs/guide.md)? Generated injectors are just plain functions and you can share initialization rules between injectors with provider sets.

[2020-01-20 10:20] MetalRex101 commented on #237
First of all - yes, i read all the info from this repo and all the forums and guides i found.
I'm trying to better understand, how to write functional tests with this library. How to easy mock some of the dependencies. For example i have some kind of application, which is maximally layered due improving testability:

[code]

As you can see there are some external dependencies, such as Database, Qu

[2020-02-21 17:15] ernado commented on #160
This probably should be blocked until https://github.com/golang/go/issues/33468 is resolved.

Also, we can detect case when binary is started with `go run`, so there will be no backward compatibility issues at all. That is, if wired binary was started via `go run` we emit `go:generate go run github.com/google/wire/cmd/wire`, otherwise we fallback to current `go:generate wired`.

[2020-02-21 17:46] steebchen commented on #160
Go modules is pretty much the default now, so that part should not be blocking anymore.

[2020-03-12 12:31] dcormier opened #241 "Calling a function that returns a function in wire.Build results in the unhelpful "unknown pattern" error"
### Describe the bug

Calling a function that returns a function in `wire.Build` results in the `unknown pattern` error.

### To Reproduce

This may be in a shared package, to be used across multiple projects, for example.

[code]

Elsewhere, that would be called in `wire.Build` like so:

[code]

## Expected behavior

Running wire would result in a properly generated `Inject` function.

### Versio

[2020-03-14 16:38] zombiezen commented on #241
This is closely related to #184. I'm not fully sure the implications of allowing the provider function to be dynamic.

For this case, you could use a slightly different provider function in your injector that instantiates the DynamoDB API:

[code]

[2020-03-14 19:18] bradleypeabody opened #242 "Consider a mechanism to permit automatically binding a type to interfaces it implements"
### Is your feature request related to a problem? Please describe.

If I am wiring a complex application which uses interfaces to describe dependencies, it is cumbersome to have to provide `wire.Bind` to describe mappings from interface to implementation even when the method names are clearly designed to be unambiguous.

If I have a `LoginController` which needs a `TryLogin(u, p string) error` met

[2020-03-16 12:43] dcormier commented on #241
`ddbEndpoint` is not in scope in that `ProvideDDBClient` example. Additionally, my goal is for this function (`ProvideDDBClient`) to live in a shared package, while `Config` is specific to the consumer of that shared package.

I'm aware that something like this could be done (which maybe is what you meant?), but my goal is to reduce repeated code by putting it in shared packages.

[code]

----

Wh

[2020-03-19 18:44] zombiezen commented on #242
Thanks for the report, and I'm sorry to hear it's been a source of friction for you.

I do think the explicitness adds benefit, but we may not have communicated the benefit well (might warrant an FAQ). The reason the binding is explicit is to avoid scenarios where adding a new type to the provider graph that implements the same interface causes the graph to break, because that can be surprising. W

[2020-03-22 19:04] bradleypeabody commented on #242
Thanks @zombiezen, I get where you are coming from.  It is certainly a trade-off and I certainly get that adding items to a wire set causing other earlier items to fail could be unexpected. The only thing I would point out is that Go does something very similar regarding method name matching when embedding structs: You can call T.B() and B can be on an embedded struct as long as it's unambiguous;

[2020-03-23 16:17] zombiezen commented on #242
I think that would work, but would likely need to take lower precedence than explicit bindings. My instinct here is that there may be some complexity for larger provider graphs, but the explicit `AutoBind` marker would make it easier for static analysis to detect the behavior is occurring.

In the interest of trying to set realistic expectations and unblocking you, you should know that I and the o

[2020-03-23 16:57] danf0rth opened #243 "How to inject struct that implements an interface as interface"
Hi!

[code]

How to describe injectors, so that the `NewMySQLUserRepository` will return struct, but this struct will be injected into NewHandler as interface (because it is implementing interface).

I know that i can replace signature of `NewMySQLUserRepository` to `NewMySQLUserRepository(db *sql.DB) UserRepository`, so it will return interface, but this is not always appropriate for me.

I tried

[2020-03-23 18:30] bradleypeabody commented on #242
Okay great.

* Agreed on the lower precedence - explicit bindings should always be honored.
* Understood on the possible difficulties.  I'm willing to give it a shot.
* Completely understood on the timeline and no worries.  I'm in no rush at all, I just mainly wanted to ensure that if I do work on this that there's a reasonable possibility it would get merged.  I think we're good on that for now.

[2020-03-23 18:33] bradleypeabody commented on #242
Would you be okay with re-opening this issue?  Or should I just make a PR when I have one and we can do any further discussion around the actual code?

[2020-03-27 20:56] dcormier commented on #184
My use case (#241) is to have functions that return the functions `wire` should execute when it builds the set.

An example of such a function is:

[code]

While in `wire.Build` this would be used as:

[code]

More information and discussion of this use case can be found over in that issue (#241).

[2020-03-27 22:35] rogpeppe opened #244 "generated functions should copy doc comment from wiregen file"
The signature and name are generated, but for godoc purposes, the doc comment should be copied too.

[2020-03-28 16:10] zombiezen commented on #243
You're looking for [`wire.Bind`](https://pkg.go.dev/github.com/google/wire?tab=doc#Bind):

[code]

[2020-03-28 16:10] #243 closed

[2020-03-28 16:13] zombiezen commented on #242
Retitled to match new scope and reopened.

[2020-03-28 16:18] zombiezen commented on #244
Happy to accept PRs to fix. I'm surprised that you're seeing this, since this is something I was pretty sure Wire was doing properly. Do you have a minimal repro of the issue?

[2020-03-28 19:20] danf0rth commented on #243
Thanks for your reply, small fix: there must be `*MySQLUserRepository` (pointer to a struct) in a `Bind`, because pointer type implements interface, or you will get error: `MySQLUserRepository does not implement interface UserRepository`

Correct is:
[code]

[2020-03-30 07:48] rogpeppe commented on #244
Here's a minimal repro of the issue; run it with the [testscript command](https://pkg.go.dev/github.com/rogpeppe/go-internal/cmd/testscript?tab=doc):

[code]

[2020-04-01 06:18] zeromake commented on #207
@fzerorubigd @vangent @shaunc
I submitted an implementation on #245, you can go and see, and give some implementation suggestions

[2020-04-04 16:19] zombiezen commented on #207
Hey @zeromake. I've replied on the PR. Let's discuss and agree upon the API first before hopping into code.

[2020-04-04 23:45] zeromake commented on #207
@zombiezen
So is the API design of `wire.Slice` inappropriate? Any suggestions?

[2020-04-08 08:52] zeromake commented on #207
@zombiezen
Using issues to communicate is somewhat inefficient, is there any other instant chat solution

[2020-04-08 14:27] zombiezen commented on #207
Echoing my guidance [I left on the PR](https://github.com/google/wire/pull/245#issuecomment-609052267):

<hr>

No. We've found asynchronous communication to work well for making design decisions across a distributed team and for having a record of how we arrived at our decisions. The maintainers of Wire (including myself) aren't working on this full-time, so our bandwidth is limited. Being able to

[2020-04-09 02:28] zeromake commented on #207
@zombiezen
I do n’t understand what you mean, I actually followed the #207 plan
[code]
Extended support `wire.Slice([]Controller{}, wire.Value(controllerA()), wire.Struct(controllerB(), "*"), wire.Set(controllerC))`

[2020-04-23 19:31] kpeu3i opened #246 "[QUESTION] How to bind multiple implementations to the same intrerface"
I have the following dependencies in my app:

[code]
Is it possible to inject different multiple implementations (`servoX`, `servoY`) of the same interface (`ServoDriver`) using wire?

[2020-04-25 16:18] zombiezen commented on #191
There's also some discussion on #207 with a similar idea. Not sure whether to dedupe yet.

[2020-04-25 16:19] zombiezen commented on #246
Not directly. See https://github.com/google/wire/blob/master/docs/faq.md#what-if-my-dependency-graph-has-two-dependencies-of-the-same-type

See also: #191 and #207

[2020-04-25 16:19] #246 closed

[2020-05-03 15:44] brpaz opened #247 "Question: Is a new instance of a dependency created for each struct that depends on it?"
Let´s say I have 3 structs: "Foo", "Bar" and "Baz".

If "Baz" is a dependency of both "Foo" and "Bar" will be "Baz" be instantiated two times, one in the "Foo" injector and the other in the "Bar" injector?

Other languages DI tools, in general, each service is a singleton. I am thinking if that could be a problem or not,  for example, if a specific struct is a dependency of say 10, 20 other struct

[2020-05-03 16:26] zombiezen commented on #247
Within a given injector function (the generated function), a provider will be called at most once. You can see for yourself by inspecting the generated code.

[2020-05-03 16:26] #247 closed

[2020-05-15 15:55] AdamKorcz commented on #149
Is this still something that is needed? I will be happy to look into it.

[2020-05-17 17:53] zombiezen commented on #149
Would definitely be appreciated, yeah!

[2020-06-04 07:37] mwlazlo opened #251 "Permit specifying build tags for analysis"
### Is your feature request related to a problem? Please describe.

In my project, I use build tags to select which code to include according to the type of driver being built. For example, one driver may use an integer ID and another a string ID. The implementation is selected at compile time using build tags.

Wire does not currently support defining extra build tags when generating providers. S

[2020-06-05 23:31] zombiezen commented on #251
This probably will have implications for #48.

Having this be in the template file seems strictly better than in a command-line flag.

[2020-06-08 03:18] mwlazlo commented on #251
@zombiezen if we have the build tag hardcoded into the template file, we would need multiple identical template files to support different build tags. Thinking about it some more, I could also copy the provider template into each feature file but it would have the same problem: duplication.

[2020-06-08 04:38] zombiezen commented on #251
Sorry, I misunderstood this feature request: I thought this was requesting having a different template based on build tags. I now understand it to be that the analysis needs to pass in build tags for it to complete successfully. I've retitled the issue to match this idea.

Seems pretty reasonable. I would be happy to review a PR for this. It would mostly be a matter of passing a flag through to th

[2020-06-08 06:21] mwlazlo commented on #251
Thanks, sorry for my poor use of terminology. I'll raise the PR.

[2020-06-08 22:19] pablote opened #253 "Question: is it possible to share providers between injectors?"
I've tried extending the tutorial with a new type "Store" which, like Event(s), have a greeter, they are almost identical. Then I tried adding a new injector, like so:

[code]

And the generated code looks like this:

[code]

Is there any way to have both injectors share the same message and/or greeter? Where I'm going with this is, I'm thinking of Message as my db connection pool, I would like to

[2020-06-11 15:06] #244 closed

[2020-06-14 14:32] zombiezen commented on #253
You would need to either pass the message/greeter into the injector or pass in something else that caches the creation of the message/greeter.

[2020-06-14 14:32] #253 closed

[2020-07-09 15:41] #251 closed

[2020-07-31 07:52] ah-edg commented on #221
I created an issue for this in bazel-gazelle, but closed it after Jay pointed me here. Is there progress or hope for progress in this issue? Because I'd love to use gocloud.dev with Bazel and that currently is not a good experience.

[2020-07-31 11:53] zombiezen commented on #221
I don't know of anyone actively working on this issue, but this shouldn't block use of the Go CDK (gocloud.dev) inside Bazel. This issue tracks supporting Wire inside Bazel. If Bazel supports a package loader now, it might be easy enough to check in a file generated by Wire and use Gazelle, but I don't know where to look for that. @jayconrod?

[2020-07-31 12:38] ah-edg commented on #221
Thank you for still looking at this though you're no longer at Google - and thanks for gocloud.dev.
gocloud.dev is still usable, but this produces a lot of ugly output and superfuous dependency lists in our workflow.
This is part of the output for a fresh build (before results are cached):

[code]

[2020-07-31 13:00] zombiezen commented on #221
Ah, looks like you're hitting bazelbuild/bazel-gazelle#610, not this issue. This issue covers generating your own Wire dependency injection using Bazel.

[2020-07-31 13:04] ah-edg commented on #221
I think that was not all, just a very visible part - but it's been a while, I'll have to check again.
The other issue was very unwieldly and overly long dependency lists if I recall correctly.
I'll check doing an example project and report if I hit a snag or if everything is allright.
Thank you, though!

[2020-07-31 23:06] ajjensen13 opened #256 "Result parameter names are not retained for generated injectors"
### Describe the bug

Result parameter names are not retained for generated injectors. Result parameters can be useful for tools like gopls and IDEs for suggesting variable names, generating code, and can help provide semantic context to callers of injectors.

### To Reproduce

Create an injector that has a result parameter name. Call wire. Observe that the result parameter name is not copied to t

[2020-08-06 09:03] valters commented on #225
I feel that asking the "provider" to implement singleton logic so that "injector" can stay very simple is not using the code-generation capabilities to their advantage. I mean, this forces user to write a lot of boilerplate, which actually could very well be hidden out of sight and auto-generated, if it was responsibility of "injector" to only call the provider once.

[code]

Here, instead of wire

[2020-08-06 10:02] bench opened #257 "Binding one implementation to multiple interfaces"
### Is your feature request related to a problem? Please describe.

I am having little trouble with something that should to be a correct configuration to me.

Frequently, dependency injection is used to bind a concrete implementation for an interface. In my application I follow a well-known package layout in go, which consist in **declaring interfaces in the package where they are used**, and the

[2020-08-06 13:57] zombiezen commented on #257
Wire does act as you describe: it permits a type to be bound to multiple non-identical interfaces. The error message you include is highlighting a different problem: both of your sets include `config.New`, which conflict with each other.

[2020-08-06 14:57] bench commented on #257
thank for your quick feedback @zombiezen !
Indeed, the error return misled me, sorry for that. :/
You can not use the same constructor in different sets, I imagined duplicated entries would be ignored.
Wouldnt this be possible ? If so sets could be use to define clearly the list of deps of a constructor.

[2020-08-06 16:17] zombiezen commented on #257
See this FAQ: https://github.com/google/wire/blob/master/docs/faq.md#why-does-wire-forbid-including-the-same-provider-multiple-times

[2020-08-07 08:14] bench commented on #257
@zombiezen  Roger that and again thanks for your time
I close this issue.

[2020-08-07 08:14] #257 closed

[2020-08-12 07:49] sarath-okcredit opened #258 "Wire can't build with invalid type error"
Golang : 1.14
Wire: v0.4.0

[code]

[code]

In `wire.go`

[code]

[code]

^^^ giving  `cannot use conf.Engine (variable of type *invalid type) as *service.EngineConfig value in return statement`

Also, tried with `wire.FieldsOf`  as `wire.FieldsOf(new(*config.Configuration), "Engine", "ApiInternalAuthConfig")`. On multiple `wire` cmd executions, gave 4 different results with the same `wire.go` fil

[2020-08-12 14:01] zombiezen commented on #258
`(variable of type *invalid type)` usually means there's a compile error in your application. Wire analyzes your whole dependency tree, not just the Wire file. Without seeing your code, it's hard to know what's going on in the Wire runs you're showing. If you can, posting a [short, self-contained example](http://sscce.org/) would be helpful.

[2020-08-12 14:58] sarath-okcredit commented on #258
Thanks @zombiezen It was a compilation issue indeed! 😅 Probably `wire` should thrown better error message. Couldn't find any relative documentation/talk regarding this error

[2020-08-12 14:58] #258 closed

[2020-08-24 05:22] muhsinshodiq opened #259 "Command not found: wire"
I just follow your README.md to run this part
[code]
and the result is
[code]
I create `wire.go` as explained and then try to call `wire` on my terminal and got this result
[code]
this is my `$PATH`
[code]
and go version that I installed
[code]

Can you help me what I'm missing ? thx.

[2020-08-25 04:15] bytesmaker opened #260 "How do I instantiate a dependency only once while injecting?"
As you can see that [1] is the struct declaration, [2] is my `wire.go` and [3] is the generated file by `wire`.

When I called `ProvideFoo()` and `ProvideBar()` sequentially, `ProvideBaz()` will be called 2 times. It means that in each time *Invoke()* to obtain `Baz`, `Baz` will be re-instantiated but not reuse it which `Baz` was instantiated before. In the same situation, the other DI frameworks

[2020-08-25 16:32] vangent commented on #260
Yes, `wire` can handle that. You basically need to make a higher-level injector instead of multiple injectors (for `Foo` and `Bar`) that you call sequentially; `wire` has no way of carrying state between manual calls to two injectors.

By the way, your naming is not quite correct. `wire` calls NewXXX functions "providers"; these are just normal Go functions that create things. The functions that i

[2020-08-25 16:32] #260 closed

[2020-08-25 23:40] bytesmaker commented on #260
Is it mean that I should have a registry table (in your example, it is `App`) to initialize whole dependency graph?

[2020-08-26 00:29] vangent commented on #260
Basically, yes. Wire only knows about the things you pass it or that it creates itself. You can either have a single injector function for your whole graph, or you can have multiple injectors but pass things explicitly to them (e.g., if one injector creates a Foo, and there's another injector for Bar, and you want it to use Foo, you need to pass Foo to the injector).

It's pretty common to use a s

[2020-08-26 01:00] bytesmaker commented on #260
I see. Thanks for your help 😄

[2020-08-26 03:18] mwlazlo commented on #259
Not really a wire problem, but check $HOME/go/bin

[2020-08-26 04:59] muhsinshodiq commented on #259
@mwlazlo Just found the issue is because my $GOPATH is empty and on my friend that have expereinced with go help me to solve that.

FYI, I just a new joiner in Go language and when trying to implement other stuff such as echo server, v10 validator never found any issue using go get. Therefore maybe the installation how to part give more explanation about how to get `wire` binary it will be really

[2020-08-26 13:04] #259 closed

[2020-09-04 20:18] ProximaB commented on #242
@bradleypeabody How it's going? 😄

[2020-09-26 22:43] AaronDRS commented on #237
Hello @zombiezen , did you managed how to write test with wire?

[2020-09-28 17:18] noamhurwitz opened #262 "Consider adding "Testing Best Practices" documentation"
Testing is often a major issue with DI, and I don't see any comments addressing it for wire. It would be very helpful for evaluation to see some testing examples and guides for new users.

[2020-09-30 13:33] dcormier commented on #241
This is still tagged as `needs info`. What's the additional info that's needed?

[2020-10-01 02:25] bradleypeabody commented on #242
Unfortunately I have not yet gotten to this.  I was hoping to run into a specific case where I need it for Vugu (https://github.com/vugu/vugu but I haven't run into it again, yet).  This is definitely still on my radar and I hope to look into it further soon.

[2020-10-20 16:16] steebchen opened #263 "Make an injector return type optional"
### Is your feature request related to a problem? Please describe.

I have various providers which all initialise and clean up things. In theory, I don't need any return value in the injector function.

However, just providing a cleanup function and an error does not work:

[code]

### Describe the solution you'd like

An injector function should not require any return value. I'm not sure if this

[2020-10-21 13:29] zombiezen commented on #263
I can see why you would want such a feature, but this is infeasible to implement. The code generation needs to know what type the injector is trying to resolve. Wire makes an assumption that the first return type is that type, and one would have to introduce another signaling mechanism to indicate what the desired type is. Having to ignore the return value makes it clear to the reader of the code

[2020-10-21 13:29] #263 closed

[2020-11-10 14:53] dmayle opened #265 "Wire generate fails in bazel project because proto library is generated on build"
### Describe the bug
When I try to run wire in my project, generate fails because it only sees the proto files and not the golang proto lib.

### To Reproduce
1. Create simple golang bazel project with a proto library.
2. Run `wire`.
3. Wire outputs:
[code]

## Expected behavior
Some way to run wire so that we can update the project.  I've seen #221 and I'm not looking to run wire dynamically with

[2020-11-10 15:40] dmayle commented on #265
I'm trying to figure out how to work around this, at least.  I've tried copying the generated files to $GOPATH/src/path/to/proto/library but I still get the same error.  Is there any way to get more detailed error messages out of wire so I can figure this out?

[2020-11-19 22:30] zombiezen commented on #265
Not sure, this would be failing at the `golang.org/x/tools/go/packages` level. Wire's copy may be out of date, so it might just be a case of updating the dependency. @jayconrod, any ideas?

[2020-11-19 22:43] jayconrod commented on #265
Not sure I have enough context to answer this. @dmayle so the proto package is part of your Bazel project, not Wire or anything else?

If Wire is not being run by Bazel, then the generated .pb.go files certainly need to be in the directory where they're imported.

It's hard to say more without a minimal, reproducible example. This issue is pretty abstract.

[2020-11-24 10:25] maratori opened #266 "Can't use wire.Bind inside wire.NewSet"
### Describe the bug

Can't use `wire.Bind` inside `wire.NewSet`.
Wire fails to generate with error
[code]

### To Reproduce

[code]

## Expected behavior

It should generate the same code as for following
[code]

### Version

v0.4.0

[2020-11-27 18:45] zombiezen commented on #266
This is working as intended, since as [the Wire User Guide states](https://github.com/google/wire/blob/master/docs/guide.md#binding-interfaces):

The API documentation for `wire.Bind` probably needs to reflect that.

However, I want to make sure I'm not missing a use case here. Why are you splitting up the provider and the interface binding?

[2020-11-28 10:52] maratori commented on #266
Thanks, I missed that in docs.

I don't know use case where current behavior would be blocker. There are couple workarounds.

However it's very strange for me why it differs from other providers?

[2020-11-28 16:36] drscre commented on #266
A somewhat contrived use case example:

[code]

[2020-11-28 18:14] zombiezen commented on #266
In some small-scale experiments we did early on in development, we constructed some relatively confusing examples (I forget the exact details) because of the separation between the concrete type provider and the binding. We also wanted provider sets to obey the principle of "accept interfaces, return concrete types". This led to the decision to keep bindings together with their concrete types, sin

[2020-12-02 19:12] steebchen commented on #106
I'd like you to re-consider. For my use cases I have lots of other generated code, which is not committed to git. This way, it also doesn't make sense to commit wire_gen.go. Since I then need to define a go:generate line anyway, after it has been generated once it will be generated twice. I know I can remove it with sed, but it feels hacky and needs to be cross compatible (the command you provided

[2020-12-02 19:17] steebchen commented on #160
I want to raise this again – go modules is the way to go by now.

[2020-12-02 19:52] codyleyhan commented on #207
@zombiezen I would like to potentially take this on as I think this is a really useful feature that would remove even more boilerplate.  Am I correct in interpreting the following:

As the following with the given example?
[code]

[2020-12-03 00:22] zombiezen commented on #160
With Go 1.16 having `GO111MODULE=on` by default, I agree. Happy to accept a PR to fix.

[2020-12-03 00:26] zombiezen commented on #106
@steebchen, can you open a new issue with the use case that you have in mind? It would be helpful to get more details about what the package layout is, how your build works, and what you want to have happen that Wire doesn't do right now. Thanks!

[2020-12-03 00:47] zombiezen commented on #207
You're definitely on the right track, @codyleyhan. Hand-waving, I think `wire.IntoSlice` should take in a single provider-like thing. The problem is that those three `wire.Bind`s in your example would conflict. This would result in this modified example:

[code]

There's a few other design considerations to keep in mind:
- One of Wire's selling points is that unused providers are errors. As soon a

[2020-12-03 02:46] codyleyhan commented on #207
@zombiezen  That sounds reasonable to me.

Thinking about the following example more, it feels a bit unintuitive as to where the `wire.IntoSlice` should go when `wire.Set` is thrown in to the mix.
[code]

Maybe a better interface could be something like the following which removes the need to define `wire.IntoSlice` in a particular place and makes it a bit more clear that a particular provider wil

[2020-12-04 14:40] steebchen commented on #160
Sounds good, I created #268

[2020-12-04 15:49] steebchen opened #269 "Wire should not put a go:generate line into wire_gen.go"
### Is your feature request related to a problem? Please describe.

Wire puts the following line into the generated file:

[code]

We have a lot of generated files (many megabytes of total size), which is why we don't commit files to git and just require a simple `go generate ./...` to be run by users or before tests are run.

Since wire is the only one generating a new `//go:generate` line into t

[2020-12-04 15:52] steebchen commented on #106
Sure, I created https://github.com/google/wire/issues/269 to describe my use case.

[2020-12-07 16:48] dmayle opened #270 "Please attach platform binaries to Wire release"
### Is your feature request related to a problem? Please describe.
I'd like to be able to use Wire without compiling my own binary

### Describe the solution you'd like
Please just attach binary files to the releases page

### Describe alternatives you've considered
I'm currently hosting binaries on my own fork

### Additional context
I'm mainly opening this issue because I created a set of releas

[2020-12-10 09:46] insidieux opened #274 "Official docker image"
### Is your feature request related to a problem? Please describe.

This is not a problem. This is just feature request - add official Docker image for wire.
Most of open source projects have their own official images and possibility to run binary in docker environment.

### Describe the solution you'd like

Add Dockerfile to repository and build docker image in pipelines for tags.

[2020-12-13 14:45] odsod commented on #160
@zombiezen This is something we've been looking for too, to simplify our `go generate` invocations (we currently pre-build the correct version of the `wire` CLI and add it to `$PATH` before invoking `go generate`.

When this gets merged to master, we'd be happy to test this out and provide feedback before the next stable release.

[2020-12-13 14:50] ernado commented on #160
Note that `go run` will be slower that direct call of `wire` because `go run` does not cache linked binary.

Also just simply changing from `wire` to `go run` can break some users, I've implemented backward compatible version in #239

[2020-12-13 15:11] steebchen commented on #160
That's negligible:

[code]

Good point. However, I think either way the new default should be to use go generate, so that new users can make immediate use of it. Users who explicitly want the old behaviour should not upgrade, or set the option explicitly should they update.

[2020-12-15 19:19] dmayle commented on #265
@jayconrod The real issue here was that I was using a too many build tools that are incompatible with the standard go builder.

I was trying to mix proto, GRPC, the sqlc (SQL to golang compiler) and Wire together.  At the time, I was manually generating the go files from everything, checking them in, and building with bazel.

Where I ran into a problem was that the GRPC was out-of-module (in anoth

[2020-12-15 19:19] #265 closed

[2021-01-15 20:20] cdennison commented on #224
`go build` didn't work for me but `go build main.go wire_gen.go`did
does anyone know why go build wouldn't work? I get no output when doing go build form tutorial
this will be an issue for existing CI/CD pipelines which all depend on "go build" working

[2021-01-25 11:34] insidieux commented on #274
Hi there
Any updates about this issue? I've also provide pull request here.

[2021-01-26 01:47] zombiezen commented on #274
Hey @insidieux, thanks for the suggestion and the PR. While I think having a Docker image can be useful, the bandwidth for us to publish and maintain the image is more than we are willing to take on at this time. If you want to maintain Docker images for Wire, that's great, but we're not looking to upstream this.

[2021-01-26 01:47] #274 closed

[2021-01-26 01:55] #160 closed

[2021-02-09 18:49] #21 closed

[2021-02-10 20:34] MrWormHole opened #280 "[BUG] too many generated structs in every build call and useless in circular dependency situation"
### Describe the bug

When A needs B and B needs C and C needs A. It can not generate a proper wire_gen.

wire: C:\Users\talha\OneDrive\Masaüstü\New folder\wire.go:38:1: cycle for _/C_/Users/talha/OneDrive/Masaüstü/New_folder.AppleService:
        _/C_/Users/talha/OneDrive/Masaüstü/New_folder.AppleService (_/C_/Users/talha/OneDrive/Masaüstü/New_folder.NewAppleService) ->
        _/C_/Users/talha/O

[2021-02-13 12:35] MrWormHole commented on #280
Anyways closing this, aint nobody got time for this in google, besides wire is not intended to fix people's circular dependency problems i guess, another tool of google that is gonna end up in the trash like others

[2021-02-13 12:35] #280 closed

[2021-03-07 14:05] ymchun opened #282 ""// +build wireinject" cause gopls error"
### Describe the bug

If we have a go file that call `wire.Build`, we put a build constraint to the start of the file. The `gopls` will prompt the following message saying that no packages found.

[code]

If we remove the empty line between the build constraint and the `package`, it behave like the issue described here https://github.com/google/wire/issues/117

### To Reproduce

[code]

## Expecte

[2021-03-07 23:11] #282 closed

[2021-03-26 09:59] pickfire commented on #106
Even up till now, is wire still special enough to have a workflow different from go generate?

[2021-04-21 23:23] dabbertorres commented on #242
@bradleypeabody have you gotten to this by chance? If not, would you mind if I shared my attempt at adding this feature?

[2021-04-21 23:30] bradleypeabody commented on #242
@dabbertorres I have not had a chance to work on this.  Definitely no objection to someone else taking it on. I'll try to provide feedback/suggestions to whatever extent possible/needed.

[2021-04-29 02:29] h7kanna opened #286 "Add a convenience function to auto inject all public fields from struct"
### Is your feature request related to a problem? Please describe.

wire.FieldsOf is a useful function to inject Fields from a struct. But it needs all the fields to be explicitly listed.
If the Struct only has public fields and all of them have to be injected, there should be an easy way to state it.

For example. I have an application that loads config from YAML to Config struct. Its purpose is

[2021-04-29 02:37] fifsky commented on #286
you can do this
[code]

[2021-04-29 02:40] h7kanna commented on #286
oh nice, How come I missed it. :( Thanks for your superfast response.

[2021-04-29 02:42] h7kanna commented on #286
I get "*" is not a field of struct
wire: at least one generate failure

[2021-04-29 02:53] h7kanna commented on #286
Ok, That will not work for the use case I mentioned if I understand correctly.  LoadConfigFromEnv already returns a *Config (from YAML parsing and env). The fields of the Config will provide configuration to different other components. So I want  auto-extract the fields

[2021-04-29 02:57] vangent commented on #286
See previous discussion:
https://github.com/google/wire/issues/204

[2021-04-29 03:01] h7kanna commented on #286
Duplicate of #204 , I forgot I already requested this.
I guess I am coming to the same pattern. I use wire a lot. Closing this.

[2021-04-29 03:01] #286 closed

[2021-05-05 14:40] khanakia opened #287 "Allow Provider without return values"
### Is your feature request related to a problem? Please describe.

I want to achieve this
[code]

### wire.go
[code]
**returns error**
[code]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

How do i use the ```NewAuth(server)``` without returning any value ?

[2021-05-05 14:52] #287 closed

[2021-05-06 15:53] khanakia opened #290 "cannot find package "." in: when using go generate command while using gomodule"
You can use `go bug` to have a cool, automatically filled out bug template, or
fill out the template below.

### Describe the bug

`go generate` command not working

### To Reproduce

* Clone the repo https://github.com/khanakia/gowire/tree/main and run below commands
* `go mod vendor`
* `go generate`

ERROR
[code]

## Expected behavior

It should work without any error

### Version

v0.5.0

### A

[2021-05-07 11:33] zabbal commented on #64
All the abovementioned tickets are closed - perhaps it's time to removed the 'blocked' label?

[2021-05-07 13:06] zombiezen commented on #64
Good point! `go install github.com/google/wire/cmd/wire@latest` is the instruction we can give reliably now.

[2021-05-10 06:51] SmallTianTian commented on #290
I have the same problem.  It also works by removing `vendor`.

[2021-05-10 06:55] khanakia commented on #290
@SmallTianTian i found the solution.
1. You can simply create a new directory in your root director `tools` and  create new file `tools.go` paste the below code
2. Then run `go mod vendor` again and everything will work fine after that.

`tools/tools.go`
[code]

[2021-05-10 06:55] #290 closed

[2021-05-10 07:13] SmallTianTian commented on #290
Thank you. Perfect solution to my problem.

Can the authorities do it in a more elegant way?

[2021-05-11 10:41] wensenz opened #291 "cycle for int: int (provideFunc) -> int generate failed"
You can use `go bug` to have a cool, automatically filled out bug template, or
fill out the template below.

### Describe the bug

my test1.go
-------------------------------------------
package main

type Test1 interface {
    Func(x int) int
}

type myTest string

func (m *myTest) Func(x int) int {
    return x
}

func provideMyTest() *myTest {
    m := new(myTest)
    *m = "hello wire!"
    ret

[2021-05-11 21:16] #291 closed

[2021-05-17 08:15] MarsonShine commented on #290
@khanakia thank you，your solution solve my problem

[2021-05-21 09:31] rpromyshlennikov opened #293 "Panic in case of nil cleanup function"
### Describe the bug

It is possible to pass provider function with nil value cleanup function (cleanup == nil) in case of provider with 3 values signature: init, cleanup, error. It would lead to panic in case of abnormal start of application.

<pre>
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xbd7492]

gorou

[2021-05-31 10:34] sin5th opened #294 "support method provider"
### Is your feature request related to a problem? Please describe.

I used to write **type method** instead of a **single NewXxx**.  eg:
[code]

frustrated when I want to use it as wire provider, I got `unknown pattern` error. eg:
[code]

### Describe the solution you'd like

I want the above usage could be work. Generated code should looks like:
[code]

[2021-06-10 23:22] scr-oath opened #296 "Enable runtime choice of implementation similar to hard-coded wire.Bind"
### Is your feature request related to a problem? Please describe.

During development, oftentimes one doesn't want to connect to all the real things (such as a Redis for running a lock server) and a local implementation using Semaphore helps do the locking without the runtime dependency.

We've got a common leaf "config" module with a DefaultSet we can pull in everywhere that has wire.Value to al

[2021-06-16 14:47] jackieli-tes opened #299 "missing go.sum entry after ran go mod tidy"
You can use `go bug` to have a cool, automatically filled out bug template, or
fill out the template below.

### Describe the bug

Following docs, after initial command `wire`, then after `go mod tidy`, subsequent `go generate ./...` reports:

[code]

### To Reproduce

I use this command to reproduce the problem:

[code]

## Expected behavior

`go generate ./...` should run without error

### Vers

[2021-06-20 04:36] karamaru-alpha commented on #269
I agree.
This requires `github.com/google/wire` in `go.mod` but I think everyone not always manage developer tool in `go.mod`.(like [tools.go](https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module))

[2021-06-20 15:24] drscre commented on #299
Possibly related to https://github.com/golang/go/issues/44129

As a hack, you can run `GOFLAGS=-mod=mod go generate ./...`

[2021-06-20 16:04] Duncan-tree-zhou opened #300 ""multiple binding" error throws, When generating wire_gen.go."
### Describe the bug

scene one, there are three rules given:
1. A depends on B and C
2. B depends on D
3. C depends on D

in scene one, we can know that there are only one D rather than two.
but i got an "multiple bindings" error

scene two, there are also two rules given:
1. A depends on B and C
2. B and C depends on D

actually scene two can be resolved to the same dependencies. but only the ru

[2021-06-22 09:03] jackieli-tes commented on #299
I can confirm the workaround working

[2021-06-29 01:33] scr-oath opened #301 "Provide a way to add to wired providers - init skipped fields, or add cleanup/error"
### Is your feature request related to a problem? Please describe.

Sometimes there are fields that may need construction but not injection - typical examples are making a map for caching, or channel for whatever.

The only trick I've found so far is to make a secondary type, such as
[code]

### Describe the solution you'd like

It would be great if a provider modifier could be somehow specified…

[2021-07-15 21:10] #200 closed

[2021-08-18 17:14] blank-teer opened #303 "Is the project dead?"
since April there is a super-useful and relatively small [pull request](https://github.com/google/wire/pull/285) about auto-binding interfaces but it seems to be blocked forever and ever.

so, is the project dead?

[2021-08-18 18:15] bereyes opened #305 "wire.go file"
### Discussed in https://github.com/google/wire/discussions/304

<div type='discussions-op-text'>

<sup>Originally posted by **bereyes** August 18, 2021</sup>
Sorry , I have a question:
wire.go file must be on main package? If I have wire.go in another package , when I use wire cmd I am getting "undeclared name: methodName" message, and I am not sure why.
EDIT:
If wire.go is in the same folder tha

[2021-08-19 12:42] eliben commented on #303
I provided some additional details on the linked PR, but in brief: we're fixing bugs, but won't be accepting new features at this time. From our POV, wire is "done". Feel free to fork it to a new project and add any features that seem critical to you.

[2021-08-19 12:42] #303 closed

[2021-08-30 15:01] drewolson commented on #299
FWIW, I think the "correct" work-around is to follow the advice [here](https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module) and create a `tools.go` file to track your development-only dependencies. This should resolve the `go.sum` problem and doesn't require setting `GOFLAGS` that introduce potentially unintuitive behavior.

[2021-09-10 06:36] guogenyuan opened #323 "The wire cannot be generated because the loop guide package, but the corresponding dependency is not found."
### Describe the bug

If I am in the following apps directory structure
 in app1 package, app.go
[code]

in wire package , wire.go
[code]

in intance.go

[code]
As a result, the following error was reported. In fact, it should be a circular reference that caused the wire to fail to be generated
[code]

### To Reproduce

.
└── app
    |── app1
    │   └── app.go
    |── intance.go
  └── wire

[2021-09-10 06:58] guogenyuan commented on #300
if you should write provider.go file
[code]

wire.go
[code]

you can generating wire_gen.go

[2021-09-10 07:03] guogenyuan commented on #300
your provider.go , not use wire.Struct instead,
[code]
1. "multiple binding" error throws, because you write son, you can wire son example:
[code]

2. you don't use struct in NewSet(), you should use func or wire.Struct().

[2021-09-12 13:05] guogenyuan commented on #300
https://github.com/google/wire/blob/main/docs/guide.md

[2021-09-30 20:43] ccremer commented on #299
I have the same problem. I do have a `tools.go` file yet the go.sum entry is still missing after `go mod tidy`
[code]

[2021-09-30 21:38] drewolson commented on #299
I believe this is because you need to be importing `"github.com/google/wire/cmd/wire"`. This is the actual tool you use, not the library.

[2021-09-30 23:12] ccremer commented on #299
Good catch!
This was the culprit, now it works.
Thanks a lot 🎉

[2021-10-01 08:30] jackieli-tes commented on #299
Yes, I'm using the `// +build tools` workaround as well

There is some guidelines from here about tracking tools: https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

And in my case importing `github.com/google/wire/cmd/wire` is enough

[2021-10-16 19:10] stephanos commented on #323
I think I have a similar issue. I'm seeing `wire` flip flopping between success and failure - and giving a cryptic error message:
[code]
I narrowed it down to a circular dependency that didn't actually occur when compiling the project the regular way.

[2021-10-27 21:35] mickeyreiss opened #332 "Typo in CLI usage string for diff subcommand"
### Describe the bug

I believe there is a typo here:

https://github.com/google/wire/blob/0ac845078ca01a1755571c53d7a8e7995b96e40d/cmd/wire/main.go#L182-L193

### To Reproduce

Run `wire diff -h`.

## Expected behavior

`Similar to the **diff** command` should probably read `Similar to the **check** command`

### Version

0.5.0

### Additional context

Add any other context about the problem here

[2021-10-28 11:49] anyufly opened #333 "how to reusable wire set"
we have those types and interfaces below

[code]
now i want to inject AService and BService, with wire config file below

[code]
when i generated the wire_gen.go, encounted an error means that it has muilty dependecy define for the *Session type, it was easy to understand, but if there have some way to make the aDaoWireSet and bDaoWireSet reusable to inject an AService object depend on the same *S

[2021-11-04 03:05] HeshamMeneisi opened #334 "Better error messages"
### Is your feature request related to a problem? Please describe.

It's a go convention not to start a variable name in a package with the package name, which means that `config` should export `config.Provider` not `config.ConfigProvider`. However, wire doesn't include the package name in error messages which forces us to name providers `package.PackageProvider` for error visibility.

When combin

[2021-12-22 18:43] dontstabai commented on #221
Is there any hope for either a Bazel plugin for this or at least a best practices guide of how to use Wire with Bazel? It would be very helpful.

[2021-12-27 09:00] luanxuechao opened #337 "Get `undefined` error when go run main.go wire_gen.go"
main.go

[code]

wire_gen.go
[code]

web.go
[code]

injector.go
[code]

error:
[code]
What's wrong with it? Please help me

[2021-12-28 01:30] luanxuechao commented on #337
Oh, I resolve it with `go run .`

[2021-12-28 01:30] #337 closed

[2022-01-05 18:32] jamshidi799 opened #338 "go get not work with Go 1.17"
when i try to install wire with this command:
`go get github.com/google/wire/cmd/wire         `
i get this error:

go get: installing executables with 'go get' in module mode is deprecated.
        To adjust and download dependencies of the current module, use 'go get -d'.
        To install using requirements of the current module, use 'go install'.
        To install ignoring the current module,

[2022-01-06 08:51] fifsky commented on #338
https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

add file tools.go to Project root

![image](https://user-images.githubusercontent.com/280967/148355866-b7fd0a4a-3431-46f6-89cb-cec88af99a68.png)

[2022-01-06 15:15] rsc commented on #338
The right command is now: go install github.com/google/wire/cmd/wire@latest

[2022-01-07 03:25] #338 closed

[2022-01-16 03:29] githoober commented on #125
Even one manages to generate wire_gen.go for the tutorial, there is another error:

![image](https://user-images.githubusercontent.com/1529043/149646167-5635c595-0431-4282-bd5c-f267ff77bc09.png)

At this point, it's not clear how to work around it.

[2022-01-16 03:47] githoober opened #341 "An injector function from the tutorial is redeclared in wire_gen.go"
### Describe the bug

When the tutorial example is used to generate wire_gen.go (the files are taken from https://github.com/google/wire/issues/125) the same function `InitializeEvent` becomes declared twice, in wire.go and in wire_gen.go.

![image](https://user-images.githubusercontent.com/1529043/149646444-6c16e36a-36f3-4844-91a8-12a91ec93785.png)

### To Reproduce

Use the two tutorial files fr

[2022-01-16 03:56] #341 closed

[2022-01-16 03:57] githoober commented on #341
I made a mistake of not adding a proper build constraint.

[2022-01-17 01:39] furuya-kaoru commented on #299
https://github.com/ca-love/server/blob/master/Makefile#L76
も

Go1.18を見越して、
go install
に変えておいたほうがいいのかな?

[2022-01-21 01:54] LFernandoC opened #344 "unknown pattern"
Struct Providers occurs "unknown pattern",
Case:

[code]

[2022-01-21 01:57] LFernandoC commented on #344
with version " github.com/google/wire v0.5.0 "

[2022-01-25 06:14] LFernandoC commented on #344
ask for help~!!

[2022-02-23 09:37] somniapotato opened #346 "Can wire help us to close server in order?"
For example, if my provider like this:
wire.Build(InitServer1, InitServer2, InitServer3)
Server3 depends on Server2
Server2 depends on Server1

When the whole server want to gracefully stop, can wire help us to close Server3 first, then Server2, Server1?
Considering that wire already know the injection sequence, I thought it could know the quit sequence too.

[2022-03-12 10:33] xiao-cao-x commented on #305
same issue.

[2022-03-13 03:24] whybangbang opened #348 "how to solve "redeclare in this package "after generate"
after command "wire" execute,  duplicate funciton name will exist in a same package, for example "InitializeApi"
how to solve, thx
<img width="352" alt="image" src="https://user-images.githubusercontent.com/8721386/158043620-85b5e614-645a-48c8-b685-1050c9d9e45f.png">

[2022-03-13 03:39] whybangbang opened #349 "if can provide some hook inject before function run or after"
for example, when program start, need to initinal mysql. redis and other client, if exist some hook, we can log "[xxxx client] initialed"

[2022-03-13 13:16] #349 closed

[2022-03-20 11:03] kkereziev opened #352 "Function invocation"
Hey, I recently started trying `wire` just to check it out, what are it's capabilities and should I make a switch from `fx`. I must say that I like the library a lot, kudos for the great job. One thing I find very convenient in `fx` is `fx.Invoke` - long story short this is a way of invoking functions. I started messing around with `wire` and the problem which I find for me is that if a given func

[2022-03-31 12:30] pauky opened #354 "Wire generate: Support generics"
### Is your feature request related to a problem? Please describe.

When I  used wire to build the code with go generics in golang:1.18, but It didn't work and throw some error.
There are some code, command and log in `Additional context`.

### Describe the solution you'd like

I think that wire should support code with go generics as soon as possible for golang:1.18. It must a great power to help

[2022-04-04 08:58] Selion05 commented on #178
I had a simliar issue. I used `go build cmd/server/*.go` which used shell file matching. A working example would be `go build ./cmd/server`.
Note that you need to use explicitly relative paths because `go build cmd/server` also yields an error ( package cmd/server is not in GOROOT )

[2022-04-06 13:08] anthonyfok opened #355 "TestWire/Interface{Value,Binding}NotEnoughArgs fail with Go 1.18"
### Describe the bug

TestWire/InterfaceValueNotEnoughArgs and TestWire/InterfaceBindingNotEnoughArgs pass with Go 1.17 but fail with Go 1.18.

### To Reproduce

Steps to reproduce the behavior.

[code]

## Expected behavior

The tests should pass.

### Version

v0.5.0-12-g9d78e0a (tip of `main` branch)

### Additional context

FTBFS (Fail to build from source) when Debian upgraded from golang-1.1

[2022-04-17 22:52] jayzhuang commented on #348
Did you put the build constraints in `wire.go`? For example see https://github.com/google/wire/blob/9d78e0ad8cbeb6716fa6bdbca689bdb9ce0e8fe8/_tutorial/wire.go#L15-L16

If this doesn't work, can you provide a more detailed repro step? e.g. What does your source look like, and what command did you run that tells you "redeclare in this package". Thanks!

[2022-04-17 23:09] jayzhuang commented on #344
`panic(wire.Build(domain_service.ProvidePRDomainService(), wire.Struct(new(ProcurementRequestServiceImpl),"*")))`
should be
`panic(wire.Build(domain_service.ProvidePRDomainService, wire.Struct(new(ProcurementRequestServiceImpl),"*")))`

Note `domain_service.ProvidePRDomainService` should not be invoked, `wire.Build` expects a provider, not the thing returned by the provider :)

@LFernandoC can you

[2022-04-17 23:10] ruo- commented on #344
您的邮件已收到！

[2022-04-17 23:35] jayzhuang commented on #305
If you only want to generate `wire_test.go` for a subpackage, try one of the options below:

1. Run `wire` in the directory of that subpackage
2. Run `wire gen import.path.to.subpkg`, this should work in project root. I think [patterns](https://pkg.go.dev/cmd/go#hdr-Package_lists_and_patterns) would work for import paths as well.

LMK if this solves your problem.

[2022-05-10 15:26] reillywatson opened #358 "Anonymous imports get pushed into a separate import declaration"
### Describe the bug

If I have an anonymous import in a package that uses Wire, that import gets copied to wire_gen.go, but it gets copied in some separate import declaration instead of being part of the rest of the imports.

### To Reproduce

The PkgImport test has an example of this behavior: https://github.com/google/wire/blob/8b20581338ae25def597310313636a508b089c1c/internal/wire/testdata/Pkg

[2022-05-27 05:31] #299 closed

[2022-06-02 07:55] xiazemin opened #361 "wire can not recognize the alias any of interface{} in go"
You can use `go bug` to have a cool, automatically filled out bug template, or
fill out the template below.

### Describe the bug

 cannot use (*sql.DB)(db) (value of type *sql.DB) as sqlc.DBTX value in argument to sqlc.New: wrong type for method ExecContext (have func(ctx context.Context, query string, args ...invalid type) (database/sql.Result, error), want func(context.Context, string, ...inter

[2022-06-02 07:56] xiazemin commented on #361
go 1.18.2

func (db *DB) ExecContext(ctx context.Context, query string, args ...any) (Result, error) {

lower version

func (db *DB) ExecContext(ctx context.Context, query string, args ...interface{}) (Result, error) {

[2022-06-11 11:02] cglotr commented on #224
@cdennison I did `go build ./...` & it also works.

[2022-06-11 11:05] cglotr commented on #224
@authhwang You need to also include the generated files when going either `go run` or `go build`.

For example, `go build main.go wire_gen.go`.

You can optionally do `go build ./...` to avoid listing all the generated files.

[2022-06-11 11:11] cglotr opened #362 "Missing `go run` or `go build` example of generated code"
https://github.com/google/wire/blob/79660af94317b9c466adc39f27f469f1079c779b/_tutorial/README.md?plain=1#L115

I think this step is a missing example of how to `run` or `build` the generated code. Also, it's not obvious that we need also to include the generated files when executing either `go run` or `go build` like `go build main.go wire_gen.go`.

I think adding an extra paragraph explaining how

[2022-06-14 18:38] troyatomic commented on #362
Yeah, I think there is something missing in the instructions as well.  If I do `go run main.go`, I get...

[code]

doing `go build` first then it runs fine when using the built executable.

[2022-06-16 18:16] zhenruyan commented on #237
Has the problem been solved？

[2022-06-18 11:46] khanakia opened #364 "Is wire still maintained ?"
I see the wire last published [on 26 Jan 2021](https://github.com/google/wire/releases/tag/v0.5.0)

I see many new commits after, so when the new version is planned ?

[2022-06-19 05:09] jayzhuang commented on #364
Most of the commits after that date are documentation updates, are there any specific commits that you are interested in?

[2022-06-19 09:14] jayzhuang commented on #361
Hey @xiazemin, I tried reproing your failure with the following two file, but wire ran successfully for me. Do you have a repro that I can follow?

[code]

[2022-06-19 10:09] khanakia commented on #364
No particular commit. I just wanted to know that's all

[2022-06-19 10:09] #364 closed

[2022-06-20 00:40] stytchiz commented on #354
#360 provides a workaround. See [comment](https://github.com/google/wire/pull/360#issuecomment-1141376353) for details. Note that this may not work for many use cases of generics. Full support is not planned.

[2022-06-22 12:26] rbroggi opened #366 "How to work with un-exported interfaces"
You can use `go bug` to have a cool, automatically filled out bug template, or
fill out the template below.

### Describe the bug

Some Providers rely on locally-defined non-exported interfaces. In Go the interface contract is loosely coupled and therefore those interfaces do not need to be exported in order for the provider/constructor to be called as the resolution will be dynamic at compile-tim

[2022-06-27 16:05] calmonr commented on #364
@jayzhuang what about this one? https://github.com/google/wire/pull/353

[2022-07-05 02:17] jayzhuang commented on #364
#353 is useful, although I'm not sure whether it warrants a release. Without it, `go run github.com/google/wire/cmd/wire gen` would tell you to `go get github.com/google/wire/cmd/wire`, and after that things would still work correctly, so I'm a bit hesitant to create a release just to pick up this commit.

[2022-07-05 02:31] jayzhuang commented on #366
The explicit binding is there so [when multiple structs implement the same interface, wire doesn't have to guess user's intent](https://github.com/google/wire/blob/main/docs/faq.md#why-does-wire-require-explicitly-declare-that-a-type-provides-an-interface-type). The final generated code doesn't really need to reference that interface because of the loose coupling you mentioned. That FAQ points to

[2022-07-12 14:57] michaellee8 commented on #8
@zombiezen Any chance this will be worked on? Will a PR be accepted if I implement this?

[2022-07-14 16:13] giautm commented on #8
I have same issue here, Just want to change the timeout value in the default server's driver. :(

[2022-07-16 17:16] e1milio commented on #224
Funciona si ejecutas `go run main` en vez de `go run main.go`
Y el archivo wire.go tiene que estar definido como `//go:build wireinject
// +build wireinject`

[2022-07-17 05:06] zombiezen commented on #8
This seems reasonable to me, but I haven't been working on Wire for a while. @vangent, WDYT?

[2022-07-18 16:06] vangent commented on #8
@eliben can you add the new owners for this repo?

[2022-07-18 19:18] dimuska139 commented on #207
Any news?

[2022-07-22 01:02] pantsmann commented on #361
I believe I have the same or similar error.

First the error message I see (note the file in question is not a wire.go file):
`wire: /home/blah/blah/blah.go:290:31: cannot use params (variable of type []interface{}) as []invalid type value in argument to db.Query`

The line in question:
`       params := make([]interface{}, 0)`
...
< do stuff like adding items to params and query>
...
	rows, err :

[2022-07-31 23:30] jayzhuang commented on #8
`wire.Subtract` sounds good, I'm happy to help review and merge a PR (new owner here :D)

[2022-08-06 07:34] rhythmk commented on #224
You need  to execute   `go run  .`   or  `go run  main.go  wire_gen.go`

[2022-08-09 08:28] stupidhang commented on #361
I agree and verify.

[2022-08-14 06:21] boltxyz commented on #362
@troyatomic  you need to execute the `wire` command to generate the bindings.

https://github.com/google/wire/blob/main/_tutorial/README.md#using-wire-to-generate-code

<img width="1383" alt="image" src="https://user-images.githubusercontent.com/26523208/184525135-658df542-4412-4fd4-99af-bda374e4e248.png">

[2022-08-14 06:31] boltxyz commented on #348
@whybangbang  don't forget the add trailing line

[code]

<img width="1383" alt="image" src="https://user-images.githubusercontent.com/26523208/184525379-6d290773-288b-4d67-8feb-fc0824695d99.png">

[2022-08-21 04:43] Moln opened #370 "[Question] Is there a guice for build a singleton object?"
I had read the guide, but not found the singleton example.

[code]

[2022-08-24 13:48] px3303 opened #371 "Missed receiver in generated inject method"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.17.2 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/simbapeng/Librar

[2022-09-06 02:41] CranePeng commented on #224
that‘s effective

[2022-09-06 02:42] CranePeng commented on #224
that's effective

[2022-09-07 17:09] bcspragu opened #373 "Support for concurrent initialization"
### Is your feature request related to a problem? Please describe.

Our service has a few dozen dependencies of various complexity. As part of initializing some of them, we'll 'ping' the API in question so that the service can fail fast if something is wrong (e.g. auth or some other configuration). Doing all of these serially means our service takes several seconds to start up, which is noticeable

[2022-09-14 03:52] Nghiait123456 opened #374 "function generated by Wire_gen.go "Cannot find declaration to go to" by Golang JetBrains but still run success"
I have main
[code]

i have wire.go :
[code]

and wire_gen.go

[code]

every run success but, JetBrain Ide show error  "Cannot find declaration to go to" in file wire_gen.go.
Do It have soluition for this problem . Thanks all.

[2022-09-14 03:58] Nghiait123456 commented on #374
![Uploading Screenshot from 2022-09-14 10-58-07.png…]()

[2022-09-14 03:59] Nghiait123456 commented on #374
![Screenshot from 2022-09-14 10-58-07](https://user-images.githubusercontent.com/40486925/190056417-d6d3531c-c5e3-4ae2-83d8-0d635dd518de.png)

[2022-09-18 13:13] 766800551 commented on #374
Because you have installed the wire plug-in recommended by goland, uninstall it

[2022-09-19 04:11] Nghiait123456 commented on #374
@766800551

please share me name of this plugin. i use golang ide of jetbrain and i don't find packet recommended

[2022-09-19 13:18] 766800551 commented on #374
The name of the plugin is go-wire-util

https://plugins.jetbrains.com/plugin/19395-go-wire-util

[2022-09-19 14:58] Nghiait123456 commented on #374
oh, something went wrong, i used it but not auto recommended, if i call form other file in same packet, ide dont find defind, still error:  "Cannot find declaration to go to"

[2022-09-22 13:12] MistaTwista commented on #346
Hey, @somniapotato did you find any workflow for you? There are [Cleanup functions](https://github.com/google/wire/blob/main/docs/guide.md#cleanup-functions)

[2022-09-23 03:18] Nghiait123456 commented on #374
@766800551     i used it, but packet only suggest link from in wire_gen  to other, don't have link from other to wire_gen.go

error: ""Cannot find declaration to go to""

[code]

this line block ide go to define code in wire_gen.go

[2022-10-18 04:57] tx7do commented on #299
add import:

`
package tools

import (
	_ "github.com/google/subcommands"
)
`

then :

`go mod tidy`.

[2022-10-18 23:01] Davincible commented on #207
I would also really like this implemented. With some guidance, I could also work on it.

@codyleyhan did you ever solve this, or find a workaround?

@zombiezen pinging, how do you look at this now?

[2022-10-25 00:57] diegoortizmatajira opened #375 "Provider set in a field in a structure (For modular buildings)"
### Describe the bug

I am trying to build a module system to allow some packages to provide their ProviderSets, along with other package settings.
This means having a structure to be filled by each package, then after processing and composing modules, the idea is to have a global module with an aggregation of the required Wire Providers, Bindings, etc.

In the end, instead of passing a single var

[2022-11-01 02:14] richenlin opened #376 "wire `sync.Map` throw error"
You can use `go bug` to have a cool, automatically filled out bug template, or
fill out the template below.

### Describe the bug

exec: "wire ./..." , not support `sync.Map` , throw error:

[code]

### Version

go version: 1.19.2 , wire: v0.5.0

[2022-11-23 07:39] liyuliang commented on #376
I have meet the same wrong, does it fix?